<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.BaseLivingMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.BaseLiving">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="living_type" jdbcType="VARCHAR" property="livingType" />
    <result column="living_code" jdbcType="VARCHAR" property="livingCode" />
    <result column="living_name" jdbcType="VARCHAR" property="livingName" />
    <result column="living_desc" jdbcType="VARCHAR" property="livingDesc" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="build_area" jdbcType="VARCHAR" property="buildArea" />
    <result column="cover_area" jdbcType="VARCHAR" property="coverArea" />
    <result column="gross_floor_area" jdbcType="VARCHAR" property="grossFloorArea" />
    <result column="greening_rate" jdbcType="VARCHAR" property="greeningRate" />
    <result column="presale_date" jdbcType="TIMESTAMP" property="presaleDate" />
    <result column="opening_date" jdbcType="TIMESTAMP" property="openingDate" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="finish_date" jdbcType="TIMESTAMP" property="finishDate" />
    <result column="total_period" jdbcType="INTEGER" property="totalPeriod" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="area_long_code" jdbcType="VARCHAR" property="areaLongCode" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="att3" jdbcType="VARCHAR" property="att3" />
    <result column="att4" jdbcType="VARCHAR" property="att4" />
    <result column="att5" jdbcType="VARCHAR" property="att5" />
    <result column="att6" jdbcType="VARCHAR" property="att6" />
    <result column="date_att1" jdbcType="TIMESTAMP" property="dateAtt1" />
    <result column="date_att2" jdbcType="TIMESTAMP" property="dateAtt2" />
    <result column="num_att1" jdbcType="INTEGER" property="numAtt1" />
    <result column="num_att2" jdbcType="INTEGER" property="numAtt2" />
    <result column="num_att3" jdbcType="DECIMAL" property="numAtt3" />
    <result column="num_att4" jdbcType="DECIMAL" property="numAtt4" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, living_type, living_code, living_name, living_desc, area_id, build_area, cover_area, 
    gross_floor_area, greening_rate, presale_date, opening_date, start_date, finish_date, 
    total_period, sys_code, creator, gmt_create, modifier, gmt_modified, is_deleted, 
    area_long_code, att2, att3, att4, att5, att6, date_att1, date_att2, num_att1, num_att2, 
    num_att3, num_att4, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_living
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_living
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.BaseLiving">
    insert into base_living (id, living_type, living_code, 
      living_name, living_desc, area_id, 
      build_area, cover_area, gross_floor_area, 
      greening_rate, presale_date, opening_date, 
      start_date, finish_date, total_period, 
      sys_code, creator, gmt_create, 
      modifier, gmt_modified, is_deleted, 
      area_long_code, att2, att3, 
      att4, att5, att6, date_att1, 
      date_att2, num_att1, num_att2, 
      num_att3, num_att4, remark
      )
    values (#{id,jdbcType=BIGINT}, #{livingType,jdbcType=VARCHAR}, #{livingCode,jdbcType=VARCHAR}, 
      #{livingName,jdbcType=VARCHAR}, #{livingDesc,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{buildArea,jdbcType=VARCHAR}, #{coverArea,jdbcType=VARCHAR}, #{grossFloorArea,jdbcType=VARCHAR}, 
      #{greeningRate,jdbcType=VARCHAR}, #{presaleDate,jdbcType=TIMESTAMP}, #{openingDate,jdbcType=TIMESTAMP}, 
      #{startDate,jdbcType=TIMESTAMP}, #{finishDate,jdbcType=TIMESTAMP}, #{totalPeriod,jdbcType=INTEGER}, 
      #{sysCode,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, 
      #{areaLongCode,jdbcType=VARCHAR}, #{att2,jdbcType=VARCHAR}, #{att3,jdbcType=VARCHAR}, 
      #{att4,jdbcType=VARCHAR}, #{att5,jdbcType=VARCHAR}, #{att6,jdbcType=VARCHAR}, #{dateAtt1,jdbcType=TIMESTAMP}, 
      #{dateAtt2,jdbcType=TIMESTAMP}, #{numAtt1,jdbcType=INTEGER}, #{numAtt2,jdbcType=INTEGER}, 
      #{numAtt3,jdbcType=DECIMAL}, #{numAtt4,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.BaseLiving">
    insert into base_living
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="livingType != null">
        living_type,
      </if>
      <if test="livingCode != null">
        living_code,
      </if>
      <if test="livingName != null">
        living_name,
      </if>
      <if test="livingDesc != null">
        living_desc,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="buildArea != null">
        build_area,
      </if>
      <if test="coverArea != null">
        cover_area,
      </if>
      <if test="grossFloorArea != null">
        gross_floor_area,
      </if>
      <if test="greeningRate != null">
        greening_rate,
      </if>
      <if test="presaleDate != null">
        presale_date,
      </if>
      <if test="openingDate != null">
        opening_date,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="finishDate != null">
        finish_date,
      </if>
      <if test="totalPeriod != null">
        total_period,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="areaLongCode != null">
        area_long_code,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="att3 != null">
        att3,
      </if>
      <if test="att4 != null">
        att4,
      </if>
      <if test="att5 != null">
        att5,
      </if>
      <if test="att6 != null">
        att6,
      </if>
      <if test="dateAtt1 != null">
        date_att1,
      </if>
      <if test="dateAtt2 != null">
        date_att2,
      </if>
      <if test="numAtt1 != null">
        num_att1,
      </if>
      <if test="numAtt2 != null">
        num_att2,
      </if>
      <if test="numAtt3 != null">
        num_att3,
      </if>
      <if test="numAtt4 != null">
        num_att4,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="livingType != null">
        #{livingType,jdbcType=VARCHAR},
      </if>
      <if test="livingCode != null">
        #{livingCode,jdbcType=VARCHAR},
      </if>
      <if test="livingName != null">
        #{livingName,jdbcType=VARCHAR},
      </if>
      <if test="livingDesc != null">
        #{livingDesc,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null">
        #{buildArea,jdbcType=VARCHAR},
      </if>
      <if test="coverArea != null">
        #{coverArea,jdbcType=VARCHAR},
      </if>
      <if test="grossFloorArea != null">
        #{grossFloorArea,jdbcType=VARCHAR},
      </if>
      <if test="greeningRate != null">
        #{greeningRate,jdbcType=VARCHAR},
      </if>
      <if test="presaleDate != null">
        #{presaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openingDate != null">
        #{openingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPeriod != null">
        #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="areaLongCode != null">
        #{areaLongCode,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null">
        #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="numAtt1 != null">
        #{numAtt1,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.BaseLiving">
    update base_living
    <set>
      <if test="livingType != null">
        living_type = #{livingType,jdbcType=VARCHAR},
      </if>
      <if test="livingCode != null">
        living_code = #{livingCode,jdbcType=VARCHAR},
      </if>
      <if test="livingName != null">
        living_name = #{livingName,jdbcType=VARCHAR},
      </if>
      <if test="livingDesc != null">
        living_desc = #{livingDesc,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null">
        build_area = #{buildArea,jdbcType=VARCHAR},
      </if>
      <if test="coverArea != null">
        cover_area = #{coverArea,jdbcType=VARCHAR},
      </if>
      <if test="grossFloorArea != null">
        gross_floor_area = #{grossFloorArea,jdbcType=VARCHAR},
      </if>
      <if test="greeningRate != null">
        greening_rate = #{greeningRate,jdbcType=VARCHAR},
      </if>
      <if test="presaleDate != null">
        presale_date = #{presaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openingDate != null">
        opening_date = #{openingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finishDate != null">
        finish_date = #{finishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPeriod != null">
        total_period = #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="areaLongCode != null">
        area_long_code = #{areaLongCode,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null">
        att3 = #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        att4 = #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        att5 = #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        att6 = #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="numAtt1 != null">
        num_att1 = #{numAtt1,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        num_att2 = #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.BaseLiving">
    update base_living
    set living_type = #{livingType,jdbcType=VARCHAR},
      living_code = #{livingCode,jdbcType=VARCHAR},
      living_name = #{livingName,jdbcType=VARCHAR},
      living_desc = #{livingDesc,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      build_area = #{buildArea,jdbcType=VARCHAR},
      cover_area = #{coverArea,jdbcType=VARCHAR},
      gross_floor_area = #{grossFloorArea,jdbcType=VARCHAR},
      greening_rate = #{greeningRate,jdbcType=VARCHAR},
      presale_date = #{presaleDate,jdbcType=TIMESTAMP},
      opening_date = #{openingDate,jdbcType=TIMESTAMP},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      finish_date = #{finishDate,jdbcType=TIMESTAMP},
      total_period = #{totalPeriod,jdbcType=INTEGER},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      area_long_code = #{areaLongCode,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      att3 = #{att3,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      num_att1 = #{numAtt1,jdbcType=INTEGER},
      num_att2 = #{numAtt2,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>