<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.BaseHouseApplyMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.BaseHouseApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pic_id" jdbcType="INTEGER" property="picId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="city_info" jdbcType="VARCHAR" property="cityInfo" />
    <result column="living_info" jdbcType="VARCHAR" property="livingInfo" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="numa1" jdbcType="INTEGER" property="numa1" />
    <result column="numa2" jdbcType="INTEGER" property="numa2" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="house_area" jdbcType="VARCHAR" property="houseArea" />
  </resultMap>
  <sql id="Base_Column_List">
    id, apply_time, user_id, pic_id, description, status, city_info, living_info, sys_code, 
    creator, gmt_create, modifier, gmt_modified, is_deleted, att1, att2, numa1, numa2, 
    remark, house_name, house_area
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_house_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_house_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.BaseHouseApply">
    insert into base_house_apply (id, apply_time, user_id, 
      pic_id, description, status, 
      city_info, living_info, sys_code, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, att1, 
      att2, numa1, numa2, 
      remark, house_name, house_area
      )
    values (#{id,jdbcType=BIGINT}, #{applyTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{picId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{cityInfo,jdbcType=VARCHAR}, #{livingInfo,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{att1,jdbcType=VARCHAR}, 
      #{att2,jdbcType=VARCHAR}, #{numa1,jdbcType=INTEGER}, #{numa2,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{houseName,jdbcType=VARCHAR}, #{houseArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.BaseHouseApply">
    insert into base_house_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="cityInfo != null">
        city_info,
      </if>
      <if test="livingInfo != null">
        living_info,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="numa1 != null">
        numa1,
      </if>
      <if test="numa2 != null">
        numa2,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="houseName != null">
        house_name,
      </if>
      <if test="houseArea != null">
        house_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cityInfo != null">
        #{cityInfo,jdbcType=VARCHAR},
      </if>
      <if test="livingInfo != null">
        #{livingInfo,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        #{numa2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null">
        #{houseArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.BaseHouseApply">
    update base_house_apply
    <set>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cityInfo != null">
        city_info = #{cityInfo,jdbcType=VARCHAR},
      </if>
      <if test="livingInfo != null">
        living_info = #{livingInfo,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        numa1 = #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        numa2 = #{numa2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null">
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null">
        house_area = #{houseArea,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.BaseHouseApply">
    update base_house_apply
    set apply_time = #{applyTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      city_info = #{cityInfo,jdbcType=VARCHAR},
      living_info = #{livingInfo,jdbcType=VARCHAR},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      numa1 = #{numa1,jdbcType=INTEGER},
      numa2 = #{numa2,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      house_name = #{houseName,jdbcType=VARCHAR},
      house_area = #{houseArea,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>