<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.DesignPlanMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.DesignPlan">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_code" jdbcType="VARCHAR" property="planCode" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="design_source_type" jdbcType="INTEGER" property="designSourceType" />
    <result column="design_id" jdbcType="INTEGER" property="designId" />
    <result column="design_style_id" jdbcType="INTEGER" property="designStyleId" />
    <result column="pic_id" jdbcType="INTEGER" property="picId" />
    <result column="model_3d_id" jdbcType="INTEGER" property="model3dId" />
    <result column="model_u3d_id" jdbcType="INTEGER" property="modelU3dId" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="config_file_id" jdbcType="INTEGER" property="configFileId" />
    <result column="space_common_id" jdbcType="INTEGER" property="spaceCommonId" />
    <result column="plan_desc" jdbcType="VARCHAR" property="planDesc" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="design_template_id" jdbcType="VARCHAR" property="designTemplateId" />
    <result column="ipad_model_u3d_id" jdbcType="INTEGER" property="ipadModelU3dId" />
    <result column="ios_model_u3d_id" jdbcType="INTEGER" property="iosModelU3dId" />
    <result column="android_model_u3d_id" jdbcType="INTEGER" property="androidModelU3dId" />
    <result column="macBookpc_model_u3d_id" jdbcType="INTEGER" property="macbookpcModelU3dId" />
    <result column="pc_model_u3d_id" jdbcType="INTEGER" property="pcModelU3dId" />
    <result column="web_model_u3d_id" jdbcType="INTEGER" property="webModelU3dId" />
    <result column="media_type" jdbcType="INTEGER" property="mediaType" />
    <result column="evening_file_id" jdbcType="INTEGER" property="eveningFileId" />
    <result column="dawn_file_id" jdbcType="INTEGER" property="dawnFileId" />
    <result column="night_file_id" jdbcType="INTEGER" property="nightFileId" />
    <result column="share_total" jdbcType="INTEGER" property="shareTotal" />
    <result column="is_open" jdbcType="INTEGER" property="isOpen" />
    <result column="draft_state" jdbcType="INTEGER" property="draftState" />
    <result column="baiMo_state" jdbcType="INTEGER" property="baimoState" />
    <result column="stuff_finish_state" jdbcType="INTEGER" property="stuffFinishState" />
    <result column="decorate_finish_state" jdbcType="INTEGER" property="decorateFinishState" />
    <result column="is_change" jdbcType="INTEGER" property="isChange" />
    <result column="is_decorated" jdbcType="INTEGER" property="isDecorated" />
    <result column="plan_source" jdbcType="VARCHAR" property="planSource" />
    <result column="residential_units_name" jdbcType="VARCHAR" property="residentialUnitsName" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="living_id" jdbcType="INTEGER" property="livingId" />
    <result column="cover_pic_id" jdbcType="INTEGER" property="coverPicId" />
    <result column="is_release" jdbcType="INTEGER" property="isRelease" />
    <result column="design_recommended_style_id" jdbcType="INTEGER" property="designRecommendedStyleId" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="effects_config" jdbcType="VARCHAR" property="effectsConfig" />
    <result column="is_recommended" jdbcType="INTEGER" property="isRecommended" />
    <result column="is_default_decorate" jdbcType="INTEGER" property="isDefaultDecorate" />
    <result column="plan_number" jdbcType="VARCHAR" property="planNumber" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="design_scene_id" jdbcType="BIGINT" property="designSceneId" />
    <result column="scene_modified" jdbcType="BIGINT" property="sceneModified" />
    <result column="plan_type" jdbcType="TINYINT" property="planType" />
    <result column="recommended_plan_id" jdbcType="BIGINT" property="recommendedPlanId" />
    <result column="spelling_flower_product" jdbcType="VARCHAR" property="spellingFlowerProduct" />
    <result column="spelling_flower_file_id" jdbcType="INTEGER" property="spellingFlowerFileId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sandu.mybatisgen.dto.DesignPlan">
    <result column="designPlan_render_pic_ids" jdbcType="LONGVARBINARY" property="designplanRenderPicIds" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_code, plan_name, user_id, design_source_type, design_id, design_style_id, 
    pic_id, model_3d_id, model_u3d_id, model_id, config_file_id, space_common_id, plan_desc, 
    sys_code, creator, gmt_create, modifier, gmt_modified, is_deleted, remark, design_template_id, 
    ipad_model_u3d_id, ios_model_u3d_id, android_model_u3d_id, macBookpc_model_u3d_id, 
    pc_model_u3d_id, web_model_u3d_id, media_type, evening_file_id, dawn_file_id, night_file_id, 
    share_total, is_open, draft_state, baiMo_state, stuff_finish_state, decorate_finish_state, 
    is_change, is_decorated, plan_source, residential_units_name, house_id, living_id, 
    cover_pic_id, is_release, design_recommended_style_id, release_time, effects_config, 
    is_recommended, is_default_decorate, plan_number, visible, design_scene_id, scene_modified, 
    plan_type, recommended_plan_id, spelling_flower_product, spelling_flower_file_id
  </sql>
  <sql id="Blob_Column_List">
    designPlan_render_pic_ids
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from design_plan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from design_plan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.DesignPlan">
    insert into design_plan (id, plan_code, plan_name, 
      user_id, design_source_type, design_id, 
      design_style_id, pic_id, model_3d_id, 
      model_u3d_id, model_id, config_file_id, 
      space_common_id, plan_desc, sys_code, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, remark, 
      design_template_id, ipad_model_u3d_id, ios_model_u3d_id, 
      android_model_u3d_id, macBookpc_model_u3d_id, 
      pc_model_u3d_id, web_model_u3d_id, media_type, 
      evening_file_id, dawn_file_id, night_file_id, 
      share_total, is_open, draft_state, 
      baiMo_state, stuff_finish_state, decorate_finish_state, 
      is_change, is_decorated, plan_source, 
      residential_units_name, house_id, living_id, 
      cover_pic_id, is_release, design_recommended_style_id, 
      release_time, effects_config, is_recommended, 
      is_default_decorate, plan_number, visible, 
      design_scene_id, scene_modified, plan_type, 
      recommended_plan_id, spelling_flower_product, 
      spelling_flower_file_id, designPlan_render_pic_ids
      )
    values (#{id,jdbcType=BIGINT}, #{planCode,jdbcType=VARCHAR}, #{planName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{designSourceType,jdbcType=INTEGER}, #{designId,jdbcType=INTEGER}, 
      #{designStyleId,jdbcType=INTEGER}, #{picId,jdbcType=INTEGER}, #{model3dId,jdbcType=INTEGER}, 
      #{modelU3dId,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{configFileId,jdbcType=INTEGER}, 
      #{spaceCommonId,jdbcType=INTEGER}, #{planDesc,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{designTemplateId,jdbcType=VARCHAR}, #{ipadModelU3dId,jdbcType=INTEGER}, #{iosModelU3dId,jdbcType=INTEGER}, 
      #{androidModelU3dId,jdbcType=INTEGER}, #{macbookpcModelU3dId,jdbcType=INTEGER}, 
      #{pcModelU3dId,jdbcType=INTEGER}, #{webModelU3dId,jdbcType=INTEGER}, #{mediaType,jdbcType=INTEGER}, 
      #{eveningFileId,jdbcType=INTEGER}, #{dawnFileId,jdbcType=INTEGER}, #{nightFileId,jdbcType=INTEGER}, 
      #{shareTotal,jdbcType=INTEGER}, #{isOpen,jdbcType=INTEGER}, #{draftState,jdbcType=INTEGER}, 
      #{baimoState,jdbcType=INTEGER}, #{stuffFinishState,jdbcType=INTEGER}, #{decorateFinishState,jdbcType=INTEGER}, 
      #{isChange,jdbcType=INTEGER}, #{isDecorated,jdbcType=INTEGER}, #{planSource,jdbcType=VARCHAR}, 
      #{residentialUnitsName,jdbcType=VARCHAR}, #{houseId,jdbcType=INTEGER}, #{livingId,jdbcType=INTEGER}, 
      #{coverPicId,jdbcType=INTEGER}, #{isRelease,jdbcType=INTEGER}, #{designRecommendedStyleId,jdbcType=INTEGER}, 
      #{releaseTime,jdbcType=TIMESTAMP}, #{effectsConfig,jdbcType=VARCHAR}, #{isRecommended,jdbcType=INTEGER}, 
      #{isDefaultDecorate,jdbcType=INTEGER}, #{planNumber,jdbcType=VARCHAR}, #{visible,jdbcType=TINYINT}, 
      #{designSceneId,jdbcType=BIGINT}, #{sceneModified,jdbcType=BIGINT}, #{planType,jdbcType=TINYINT}, 
      #{recommendedPlanId,jdbcType=BIGINT}, #{spellingFlowerProduct,jdbcType=VARCHAR}, 
      #{spellingFlowerFileId,jdbcType=INTEGER}, #{designplanRenderPicIds,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.DesignPlan">
    insert into design_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planCode != null">
        plan_code,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="designSourceType != null">
        design_source_type,
      </if>
      <if test="designId != null">
        design_id,
      </if>
      <if test="designStyleId != null">
        design_style_id,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="model3dId != null">
        model_3d_id,
      </if>
      <if test="modelU3dId != null">
        model_u3d_id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="configFileId != null">
        config_file_id,
      </if>
      <if test="spaceCommonId != null">
        space_common_id,
      </if>
      <if test="planDesc != null">
        plan_desc,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="designTemplateId != null">
        design_template_id,
      </if>
      <if test="ipadModelU3dId != null">
        ipad_model_u3d_id,
      </if>
      <if test="iosModelU3dId != null">
        ios_model_u3d_id,
      </if>
      <if test="androidModelU3dId != null">
        android_model_u3d_id,
      </if>
      <if test="macbookpcModelU3dId != null">
        macBookpc_model_u3d_id,
      </if>
      <if test="pcModelU3dId != null">
        pc_model_u3d_id,
      </if>
      <if test="webModelU3dId != null">
        web_model_u3d_id,
      </if>
      <if test="mediaType != null">
        media_type,
      </if>
      <if test="eveningFileId != null">
        evening_file_id,
      </if>
      <if test="dawnFileId != null">
        dawn_file_id,
      </if>
      <if test="nightFileId != null">
        night_file_id,
      </if>
      <if test="shareTotal != null">
        share_total,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
      <if test="draftState != null">
        draft_state,
      </if>
      <if test="baimoState != null">
        baiMo_state,
      </if>
      <if test="stuffFinishState != null">
        stuff_finish_state,
      </if>
      <if test="decorateFinishState != null">
        decorate_finish_state,
      </if>
      <if test="isChange != null">
        is_change,
      </if>
      <if test="isDecorated != null">
        is_decorated,
      </if>
      <if test="planSource != null">
        plan_source,
      </if>
      <if test="residentialUnitsName != null">
        residential_units_name,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="livingId != null">
        living_id,
      </if>
      <if test="coverPicId != null">
        cover_pic_id,
      </if>
      <if test="isRelease != null">
        is_release,
      </if>
      <if test="designRecommendedStyleId != null">
        design_recommended_style_id,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="effectsConfig != null">
        effects_config,
      </if>
      <if test="isRecommended != null">
        is_recommended,
      </if>
      <if test="isDefaultDecorate != null">
        is_default_decorate,
      </if>
      <if test="planNumber != null">
        plan_number,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="designSceneId != null">
        design_scene_id,
      </if>
      <if test="sceneModified != null">
        scene_modified,
      </if>
      <if test="planType != null">
        plan_type,
      </if>
      <if test="recommendedPlanId != null">
        recommended_plan_id,
      </if>
      <if test="spellingFlowerProduct != null">
        spelling_flower_product,
      </if>
      <if test="spellingFlowerFileId != null">
        spelling_flower_file_id,
      </if>
      <if test="designplanRenderPicIds != null">
        designPlan_render_pic_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="planCode != null">
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="designSourceType != null">
        #{designSourceType,jdbcType=INTEGER},
      </if>
      <if test="designId != null">
        #{designId,jdbcType=INTEGER},
      </if>
      <if test="designStyleId != null">
        #{designStyleId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="model3dId != null">
        #{model3dId,jdbcType=INTEGER},
      </if>
      <if test="modelU3dId != null">
        #{modelU3dId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="configFileId != null">
        #{configFileId,jdbcType=INTEGER},
      </if>
      <if test="spaceCommonId != null">
        #{spaceCommonId,jdbcType=INTEGER},
      </if>
      <if test="planDesc != null">
        #{planDesc,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="designTemplateId != null">
        #{designTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="ipadModelU3dId != null">
        #{ipadModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="iosModelU3dId != null">
        #{iosModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="androidModelU3dId != null">
        #{androidModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="macbookpcModelU3dId != null">
        #{macbookpcModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="pcModelU3dId != null">
        #{pcModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="webModelU3dId != null">
        #{webModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="mediaType != null">
        #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="eveningFileId != null">
        #{eveningFileId,jdbcType=INTEGER},
      </if>
      <if test="dawnFileId != null">
        #{dawnFileId,jdbcType=INTEGER},
      </if>
      <if test="nightFileId != null">
        #{nightFileId,jdbcType=INTEGER},
      </if>
      <if test="shareTotal != null">
        #{shareTotal,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=INTEGER},
      </if>
      <if test="draftState != null">
        #{draftState,jdbcType=INTEGER},
      </if>
      <if test="baimoState != null">
        #{baimoState,jdbcType=INTEGER},
      </if>
      <if test="stuffFinishState != null">
        #{stuffFinishState,jdbcType=INTEGER},
      </if>
      <if test="decorateFinishState != null">
        #{decorateFinishState,jdbcType=INTEGER},
      </if>
      <if test="isChange != null">
        #{isChange,jdbcType=INTEGER},
      </if>
      <if test="isDecorated != null">
        #{isDecorated,jdbcType=INTEGER},
      </if>
      <if test="planSource != null">
        #{planSource,jdbcType=VARCHAR},
      </if>
      <if test="residentialUnitsName != null">
        #{residentialUnitsName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="livingId != null">
        #{livingId,jdbcType=INTEGER},
      </if>
      <if test="coverPicId != null">
        #{coverPicId,jdbcType=INTEGER},
      </if>
      <if test="isRelease != null">
        #{isRelease,jdbcType=INTEGER},
      </if>
      <if test="designRecommendedStyleId != null">
        #{designRecommendedStyleId,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectsConfig != null">
        #{effectsConfig,jdbcType=VARCHAR},
      </if>
      <if test="isRecommended != null">
        #{isRecommended,jdbcType=INTEGER},
      </if>
      <if test="isDefaultDecorate != null">
        #{isDefaultDecorate,jdbcType=INTEGER},
      </if>
      <if test="planNumber != null">
        #{planNumber,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=TINYINT},
      </if>
      <if test="designSceneId != null">
        #{designSceneId,jdbcType=BIGINT},
      </if>
      <if test="sceneModified != null">
        #{sceneModified,jdbcType=BIGINT},
      </if>
      <if test="planType != null">
        #{planType,jdbcType=TINYINT},
      </if>
      <if test="recommendedPlanId != null">
        #{recommendedPlanId,jdbcType=BIGINT},
      </if>
      <if test="spellingFlowerProduct != null">
        #{spellingFlowerProduct,jdbcType=VARCHAR},
      </if>
      <if test="spellingFlowerFileId != null">
        #{spellingFlowerFileId,jdbcType=INTEGER},
      </if>
      <if test="designplanRenderPicIds != null">
        #{designplanRenderPicIds,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.DesignPlan">
    update design_plan
    <set>
      <if test="planCode != null">
        plan_code = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="planName != null">
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="designSourceType != null">
        design_source_type = #{designSourceType,jdbcType=INTEGER},
      </if>
      <if test="designId != null">
        design_id = #{designId,jdbcType=INTEGER},
      </if>
      <if test="designStyleId != null">
        design_style_id = #{designStyleId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="model3dId != null">
        model_3d_id = #{model3dId,jdbcType=INTEGER},
      </if>
      <if test="modelU3dId != null">
        model_u3d_id = #{modelU3dId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="configFileId != null">
        config_file_id = #{configFileId,jdbcType=INTEGER},
      </if>
      <if test="spaceCommonId != null">
        space_common_id = #{spaceCommonId,jdbcType=INTEGER},
      </if>
      <if test="planDesc != null">
        plan_desc = #{planDesc,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="designTemplateId != null">
        design_template_id = #{designTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="ipadModelU3dId != null">
        ipad_model_u3d_id = #{ipadModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="iosModelU3dId != null">
        ios_model_u3d_id = #{iosModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="androidModelU3dId != null">
        android_model_u3d_id = #{androidModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="macbookpcModelU3dId != null">
        macBookpc_model_u3d_id = #{macbookpcModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="pcModelU3dId != null">
        pc_model_u3d_id = #{pcModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="webModelU3dId != null">
        web_model_u3d_id = #{webModelU3dId,jdbcType=INTEGER},
      </if>
      <if test="mediaType != null">
        media_type = #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="eveningFileId != null">
        evening_file_id = #{eveningFileId,jdbcType=INTEGER},
      </if>
      <if test="dawnFileId != null">
        dawn_file_id = #{dawnFileId,jdbcType=INTEGER},
      </if>
      <if test="nightFileId != null">
        night_file_id = #{nightFileId,jdbcType=INTEGER},
      </if>
      <if test="shareTotal != null">
        share_total = #{shareTotal,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=INTEGER},
      </if>
      <if test="draftState != null">
        draft_state = #{draftState,jdbcType=INTEGER},
      </if>
      <if test="baimoState != null">
        baiMo_state = #{baimoState,jdbcType=INTEGER},
      </if>
      <if test="stuffFinishState != null">
        stuff_finish_state = #{stuffFinishState,jdbcType=INTEGER},
      </if>
      <if test="decorateFinishState != null">
        decorate_finish_state = #{decorateFinishState,jdbcType=INTEGER},
      </if>
      <if test="isChange != null">
        is_change = #{isChange,jdbcType=INTEGER},
      </if>
      <if test="isDecorated != null">
        is_decorated = #{isDecorated,jdbcType=INTEGER},
      </if>
      <if test="planSource != null">
        plan_source = #{planSource,jdbcType=VARCHAR},
      </if>
      <if test="residentialUnitsName != null">
        residential_units_name = #{residentialUnitsName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="livingId != null">
        living_id = #{livingId,jdbcType=INTEGER},
      </if>
      <if test="coverPicId != null">
        cover_pic_id = #{coverPicId,jdbcType=INTEGER},
      </if>
      <if test="isRelease != null">
        is_release = #{isRelease,jdbcType=INTEGER},
      </if>
      <if test="designRecommendedStyleId != null">
        design_recommended_style_id = #{designRecommendedStyleId,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectsConfig != null">
        effects_config = #{effectsConfig,jdbcType=VARCHAR},
      </if>
      <if test="isRecommended != null">
        is_recommended = #{isRecommended,jdbcType=INTEGER},
      </if>
      <if test="isDefaultDecorate != null">
        is_default_decorate = #{isDefaultDecorate,jdbcType=INTEGER},
      </if>
      <if test="planNumber != null">
        plan_number = #{planNumber,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=TINYINT},
      </if>
      <if test="designSceneId != null">
        design_scene_id = #{designSceneId,jdbcType=BIGINT},
      </if>
      <if test="sceneModified != null">
        scene_modified = #{sceneModified,jdbcType=BIGINT},
      </if>
      <if test="planType != null">
        plan_type = #{planType,jdbcType=TINYINT},
      </if>
      <if test="recommendedPlanId != null">
        recommended_plan_id = #{recommendedPlanId,jdbcType=BIGINT},
      </if>
      <if test="spellingFlowerProduct != null">
        spelling_flower_product = #{spellingFlowerProduct,jdbcType=VARCHAR},
      </if>
      <if test="spellingFlowerFileId != null">
        spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER},
      </if>
      <if test="designplanRenderPicIds != null">
        designPlan_render_pic_ids = #{designplanRenderPicIds,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sandu.mybatisgen.dto.DesignPlan">
    update design_plan
    set plan_code = #{planCode,jdbcType=VARCHAR},
      plan_name = #{planName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      design_source_type = #{designSourceType,jdbcType=INTEGER},
      design_id = #{designId,jdbcType=INTEGER},
      design_style_id = #{designStyleId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      model_3d_id = #{model3dId,jdbcType=INTEGER},
      model_u3d_id = #{modelU3dId,jdbcType=INTEGER},
      model_id = #{modelId,jdbcType=INTEGER},
      config_file_id = #{configFileId,jdbcType=INTEGER},
      space_common_id = #{spaceCommonId,jdbcType=INTEGER},
      plan_desc = #{planDesc,jdbcType=VARCHAR},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      design_template_id = #{designTemplateId,jdbcType=VARCHAR},
      ipad_model_u3d_id = #{ipadModelU3dId,jdbcType=INTEGER},
      ios_model_u3d_id = #{iosModelU3dId,jdbcType=INTEGER},
      android_model_u3d_id = #{androidModelU3dId,jdbcType=INTEGER},
      macBookpc_model_u3d_id = #{macbookpcModelU3dId,jdbcType=INTEGER},
      pc_model_u3d_id = #{pcModelU3dId,jdbcType=INTEGER},
      web_model_u3d_id = #{webModelU3dId,jdbcType=INTEGER},
      media_type = #{mediaType,jdbcType=INTEGER},
      evening_file_id = #{eveningFileId,jdbcType=INTEGER},
      dawn_file_id = #{dawnFileId,jdbcType=INTEGER},
      night_file_id = #{nightFileId,jdbcType=INTEGER},
      share_total = #{shareTotal,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=INTEGER},
      draft_state = #{draftState,jdbcType=INTEGER},
      baiMo_state = #{baimoState,jdbcType=INTEGER},
      stuff_finish_state = #{stuffFinishState,jdbcType=INTEGER},
      decorate_finish_state = #{decorateFinishState,jdbcType=INTEGER},
      is_change = #{isChange,jdbcType=INTEGER},
      is_decorated = #{isDecorated,jdbcType=INTEGER},
      plan_source = #{planSource,jdbcType=VARCHAR},
      residential_units_name = #{residentialUnitsName,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=INTEGER},
      living_id = #{livingId,jdbcType=INTEGER},
      cover_pic_id = #{coverPicId,jdbcType=INTEGER},
      is_release = #{isRelease,jdbcType=INTEGER},
      design_recommended_style_id = #{designRecommendedStyleId,jdbcType=INTEGER},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      effects_config = #{effectsConfig,jdbcType=VARCHAR},
      is_recommended = #{isRecommended,jdbcType=INTEGER},
      is_default_decorate = #{isDefaultDecorate,jdbcType=INTEGER},
      plan_number = #{planNumber,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=TINYINT},
      design_scene_id = #{designSceneId,jdbcType=BIGINT},
      scene_modified = #{sceneModified,jdbcType=BIGINT},
      plan_type = #{planType,jdbcType=TINYINT},
      recommended_plan_id = #{recommendedPlanId,jdbcType=BIGINT},
      spelling_flower_product = #{spellingFlowerProduct,jdbcType=VARCHAR},
      spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER},
      designPlan_render_pic_ids = #{designplanRenderPicIds,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.DesignPlan">
    update design_plan
    set plan_code = #{planCode,jdbcType=VARCHAR},
      plan_name = #{planName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      design_source_type = #{designSourceType,jdbcType=INTEGER},
      design_id = #{designId,jdbcType=INTEGER},
      design_style_id = #{designStyleId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      model_3d_id = #{model3dId,jdbcType=INTEGER},
      model_u3d_id = #{modelU3dId,jdbcType=INTEGER},
      model_id = #{modelId,jdbcType=INTEGER},
      config_file_id = #{configFileId,jdbcType=INTEGER},
      space_common_id = #{spaceCommonId,jdbcType=INTEGER},
      plan_desc = #{planDesc,jdbcType=VARCHAR},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      design_template_id = #{designTemplateId,jdbcType=VARCHAR},
      ipad_model_u3d_id = #{ipadModelU3dId,jdbcType=INTEGER},
      ios_model_u3d_id = #{iosModelU3dId,jdbcType=INTEGER},
      android_model_u3d_id = #{androidModelU3dId,jdbcType=INTEGER},
      macBookpc_model_u3d_id = #{macbookpcModelU3dId,jdbcType=INTEGER},
      pc_model_u3d_id = #{pcModelU3dId,jdbcType=INTEGER},
      web_model_u3d_id = #{webModelU3dId,jdbcType=INTEGER},
      media_type = #{mediaType,jdbcType=INTEGER},
      evening_file_id = #{eveningFileId,jdbcType=INTEGER},
      dawn_file_id = #{dawnFileId,jdbcType=INTEGER},
      night_file_id = #{nightFileId,jdbcType=INTEGER},
      share_total = #{shareTotal,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=INTEGER},
      draft_state = #{draftState,jdbcType=INTEGER},
      baiMo_state = #{baimoState,jdbcType=INTEGER},
      stuff_finish_state = #{stuffFinishState,jdbcType=INTEGER},
      decorate_finish_state = #{decorateFinishState,jdbcType=INTEGER},
      is_change = #{isChange,jdbcType=INTEGER},
      is_decorated = #{isDecorated,jdbcType=INTEGER},
      plan_source = #{planSource,jdbcType=VARCHAR},
      residential_units_name = #{residentialUnitsName,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=INTEGER},
      living_id = #{livingId,jdbcType=INTEGER},
      cover_pic_id = #{coverPicId,jdbcType=INTEGER},
      is_release = #{isRelease,jdbcType=INTEGER},
      design_recommended_style_id = #{designRecommendedStyleId,jdbcType=INTEGER},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      effects_config = #{effectsConfig,jdbcType=VARCHAR},
      is_recommended = #{isRecommended,jdbcType=INTEGER},
      is_default_decorate = #{isDefaultDecorate,jdbcType=INTEGER},
      plan_number = #{planNumber,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=TINYINT},
      design_scene_id = #{designSceneId,jdbcType=BIGINT},
      scene_modified = #{sceneModified,jdbcType=BIGINT},
      plan_type = #{planType,jdbcType=TINYINT},
      recommended_plan_id = #{recommendedPlanId,jdbcType=BIGINT},
      spelling_flower_product = #{spellingFlowerProduct,jdbcType=VARCHAR},
      spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>