<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.HouseSpaceNewMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.HouseSpaceNew">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="space_type" jdbcType="VARCHAR" property="spaceType" />
    <result column="space_name" jdbcType="VARCHAR" property="spaceName" />
    <result column="positionx" jdbcType="INTEGER" property="positionx" />
    <result column="positiony" jdbcType="INTEGER" property="positiony" />
    <result column="is_main" jdbcType="VARCHAR" property="isMain" />
    <result column="space_shape" jdbcType="VARCHAR" property="spaceShape" />
    <result column="logic_shape" jdbcType="VARCHAR" property="logicShape" />
    <result column="is_exists" jdbcType="INTEGER" property="isExists" />
    <result column="above_x1" jdbcType="INTEGER" property="aboveX1" />
    <result column="above_x2" jdbcType="INTEGER" property="aboveX2" />
    <result column="below_x1" jdbcType="INTEGER" property="belowX1" />
    <result column="below_x2" jdbcType="INTEGER" property="belowX2" />
    <result column="max_length" jdbcType="VARCHAR" property="maxLength" />
    <result column="max_width" jdbcType="VARCHAR" property="maxWidth" />
    <result column="max_areas" jdbcType="VARCHAR" property="maxAreas" />
    <result column="mix_length" jdbcType="VARCHAR" property="mixLength" />
    <result column="mix_width" jdbcType="VARCHAR" property="mixWidth" />
    <result column="mix_areas" jdbcType="VARCHAR" property="mixAreas" />
    <result column="mix_high" jdbcType="VARCHAR" property="mixHigh" />
    <result column="space_pid" jdbcType="INTEGER" property="spacePid" />
    <result column="space_sign" jdbcType="VARCHAR" property="spaceSign" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="space_modified" jdbcType="TIMESTAMP" property="spaceModified" />
    <result column="reset_location_state" jdbcType="INTEGER" property="resetLocationState" />
    <result column="unreset_location_state" jdbcType="INTEGER" property="unresetLocationState" />
    <result column="space_id" jdbcType="INTEGER" property="spaceId" />
    <result column="standard_space_id" jdbcType="INTEGER" property="standardSpaceId" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="numa1" jdbcType="INTEGER" property="numa1" />
    <result column="numa2" jdbcType="INTEGER" property="numa2" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, space_type, space_name, positionx, positiony, is_main, space_shape, logic_shape, 
    is_exists, above_x1, above_x2, below_x1, below_x2, max_length, max_width, max_areas, 
    mix_length, mix_width, mix_areas, mix_high, space_pid, space_sign, house_id, space_modified, 
    reset_location_state, unreset_location_state, space_id, standard_space_id, sys_code, 
    creator, gmt_create, modifier, gmt_modified, is_deleted, att1, att2, numa1, numa2, 
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from house_space_new
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from house_space_new
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.HouseSpaceNew">
    insert into house_space_new (id, space_type, space_name, 
      positionx, positiony, is_main, 
      space_shape, logic_shape, is_exists, 
      above_x1, above_x2, below_x1, 
      below_x2, max_length, max_width, 
      max_areas, mix_length, mix_width, 
      mix_areas, mix_high, space_pid, 
      space_sign, house_id, space_modified, 
      reset_location_state, unreset_location_state, 
      space_id, standard_space_id, sys_code, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, att1, 
      att2, numa1, numa2, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{spaceType,jdbcType=VARCHAR}, #{spaceName,jdbcType=VARCHAR}, 
      #{positionx,jdbcType=INTEGER}, #{positiony,jdbcType=INTEGER}, #{isMain,jdbcType=VARCHAR}, 
      #{spaceShape,jdbcType=VARCHAR}, #{logicShape,jdbcType=VARCHAR}, #{isExists,jdbcType=INTEGER}, 
      #{aboveX1,jdbcType=INTEGER}, #{aboveX2,jdbcType=INTEGER}, #{belowX1,jdbcType=INTEGER}, 
      #{belowX2,jdbcType=INTEGER}, #{maxLength,jdbcType=VARCHAR}, #{maxWidth,jdbcType=VARCHAR}, 
      #{maxAreas,jdbcType=VARCHAR}, #{mixLength,jdbcType=VARCHAR}, #{mixWidth,jdbcType=VARCHAR}, 
      #{mixAreas,jdbcType=VARCHAR}, #{mixHigh,jdbcType=VARCHAR}, #{spacePid,jdbcType=INTEGER}, 
      #{spaceSign,jdbcType=VARCHAR}, #{houseId,jdbcType=INTEGER}, #{spaceModified,jdbcType=TIMESTAMP}, 
      #{resetLocationState,jdbcType=INTEGER}, #{unresetLocationState,jdbcType=INTEGER}, 
      #{spaceId,jdbcType=INTEGER}, #{standardSpaceId,jdbcType=INTEGER}, #{sysCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{att1,jdbcType=VARCHAR}, 
      #{att2,jdbcType=VARCHAR}, #{numa1,jdbcType=INTEGER}, #{numa2,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.HouseSpaceNew">
    insert into house_space_new
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spaceType != null">
        space_type,
      </if>
      <if test="spaceName != null">
        space_name,
      </if>
      <if test="positionx != null">
        positionx,
      </if>
      <if test="positiony != null">
        positiony,
      </if>
      <if test="isMain != null">
        is_main,
      </if>
      <if test="spaceShape != null">
        space_shape,
      </if>
      <if test="logicShape != null">
        logic_shape,
      </if>
      <if test="isExists != null">
        is_exists,
      </if>
      <if test="aboveX1 != null">
        above_x1,
      </if>
      <if test="aboveX2 != null">
        above_x2,
      </if>
      <if test="belowX1 != null">
        below_x1,
      </if>
      <if test="belowX2 != null">
        below_x2,
      </if>
      <if test="maxLength != null">
        max_length,
      </if>
      <if test="maxWidth != null">
        max_width,
      </if>
      <if test="maxAreas != null">
        max_areas,
      </if>
      <if test="mixLength != null">
        mix_length,
      </if>
      <if test="mixWidth != null">
        mix_width,
      </if>
      <if test="mixAreas != null">
        mix_areas,
      </if>
      <if test="mixHigh != null">
        mix_high,
      </if>
      <if test="spacePid != null">
        space_pid,
      </if>
      <if test="spaceSign != null">
        space_sign,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="spaceModified != null">
        space_modified,
      </if>
      <if test="resetLocationState != null">
        reset_location_state,
      </if>
      <if test="unresetLocationState != null">
        unreset_location_state,
      </if>
      <if test="spaceId != null">
        space_id,
      </if>
      <if test="standardSpaceId != null">
        standard_space_id,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="numa1 != null">
        numa1,
      </if>
      <if test="numa2 != null">
        numa2,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spaceType != null">
        #{spaceType,jdbcType=VARCHAR},
      </if>
      <if test="spaceName != null">
        #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="positionx != null">
        #{positionx,jdbcType=INTEGER},
      </if>
      <if test="positiony != null">
        #{positiony,jdbcType=INTEGER},
      </if>
      <if test="isMain != null">
        #{isMain,jdbcType=VARCHAR},
      </if>
      <if test="spaceShape != null">
        #{spaceShape,jdbcType=VARCHAR},
      </if>
      <if test="logicShape != null">
        #{logicShape,jdbcType=VARCHAR},
      </if>
      <if test="isExists != null">
        #{isExists,jdbcType=INTEGER},
      </if>
      <if test="aboveX1 != null">
        #{aboveX1,jdbcType=INTEGER},
      </if>
      <if test="aboveX2 != null">
        #{aboveX2,jdbcType=INTEGER},
      </if>
      <if test="belowX1 != null">
        #{belowX1,jdbcType=INTEGER},
      </if>
      <if test="belowX2 != null">
        #{belowX2,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null">
        #{maxLength,jdbcType=VARCHAR},
      </if>
      <if test="maxWidth != null">
        #{maxWidth,jdbcType=VARCHAR},
      </if>
      <if test="maxAreas != null">
        #{maxAreas,jdbcType=VARCHAR},
      </if>
      <if test="mixLength != null">
        #{mixLength,jdbcType=VARCHAR},
      </if>
      <if test="mixWidth != null">
        #{mixWidth,jdbcType=VARCHAR},
      </if>
      <if test="mixAreas != null">
        #{mixAreas,jdbcType=VARCHAR},
      </if>
      <if test="mixHigh != null">
        #{mixHigh,jdbcType=VARCHAR},
      </if>
      <if test="spacePid != null">
        #{spacePid,jdbcType=INTEGER},
      </if>
      <if test="spaceSign != null">
        #{spaceSign,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="spaceModified != null">
        #{spaceModified,jdbcType=TIMESTAMP},
      </if>
      <if test="resetLocationState != null">
        #{resetLocationState,jdbcType=INTEGER},
      </if>
      <if test="unresetLocationState != null">
        #{unresetLocationState,jdbcType=INTEGER},
      </if>
      <if test="spaceId != null">
        #{spaceId,jdbcType=INTEGER},
      </if>
      <if test="standardSpaceId != null">
        #{standardSpaceId,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        #{numa2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.HouseSpaceNew">
    update house_space_new
    <set>
      <if test="spaceType != null">
        space_type = #{spaceType,jdbcType=VARCHAR},
      </if>
      <if test="spaceName != null">
        space_name = #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="positionx != null">
        positionx = #{positionx,jdbcType=INTEGER},
      </if>
      <if test="positiony != null">
        positiony = #{positiony,jdbcType=INTEGER},
      </if>
      <if test="isMain != null">
        is_main = #{isMain,jdbcType=VARCHAR},
      </if>
      <if test="spaceShape != null">
        space_shape = #{spaceShape,jdbcType=VARCHAR},
      </if>
      <if test="logicShape != null">
        logic_shape = #{logicShape,jdbcType=VARCHAR},
      </if>
      <if test="isExists != null">
        is_exists = #{isExists,jdbcType=INTEGER},
      </if>
      <if test="aboveX1 != null">
        above_x1 = #{aboveX1,jdbcType=INTEGER},
      </if>
      <if test="aboveX2 != null">
        above_x2 = #{aboveX2,jdbcType=INTEGER},
      </if>
      <if test="belowX1 != null">
        below_x1 = #{belowX1,jdbcType=INTEGER},
      </if>
      <if test="belowX2 != null">
        below_x2 = #{belowX2,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null">
        max_length = #{maxLength,jdbcType=VARCHAR},
      </if>
      <if test="maxWidth != null">
        max_width = #{maxWidth,jdbcType=VARCHAR},
      </if>
      <if test="maxAreas != null">
        max_areas = #{maxAreas,jdbcType=VARCHAR},
      </if>
      <if test="mixLength != null">
        mix_length = #{mixLength,jdbcType=VARCHAR},
      </if>
      <if test="mixWidth != null">
        mix_width = #{mixWidth,jdbcType=VARCHAR},
      </if>
      <if test="mixAreas != null">
        mix_areas = #{mixAreas,jdbcType=VARCHAR},
      </if>
      <if test="mixHigh != null">
        mix_high = #{mixHigh,jdbcType=VARCHAR},
      </if>
      <if test="spacePid != null">
        space_pid = #{spacePid,jdbcType=INTEGER},
      </if>
      <if test="spaceSign != null">
        space_sign = #{spaceSign,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="spaceModified != null">
        space_modified = #{spaceModified,jdbcType=TIMESTAMP},
      </if>
      <if test="resetLocationState != null">
        reset_location_state = #{resetLocationState,jdbcType=INTEGER},
      </if>
      <if test="unresetLocationState != null">
        unreset_location_state = #{unresetLocationState,jdbcType=INTEGER},
      </if>
      <if test="spaceId != null">
        space_id = #{spaceId,jdbcType=INTEGER},
      </if>
      <if test="standardSpaceId != null">
        standard_space_id = #{standardSpaceId,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        numa1 = #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        numa2 = #{numa2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.HouseSpaceNew">
    update house_space_new
    set space_type = #{spaceType,jdbcType=VARCHAR},
      space_name = #{spaceName,jdbcType=VARCHAR},
      positionx = #{positionx,jdbcType=INTEGER},
      positiony = #{positiony,jdbcType=INTEGER},
      is_main = #{isMain,jdbcType=VARCHAR},
      space_shape = #{spaceShape,jdbcType=VARCHAR},
      logic_shape = #{logicShape,jdbcType=VARCHAR},
      is_exists = #{isExists,jdbcType=INTEGER},
      above_x1 = #{aboveX1,jdbcType=INTEGER},
      above_x2 = #{aboveX2,jdbcType=INTEGER},
      below_x1 = #{belowX1,jdbcType=INTEGER},
      below_x2 = #{belowX2,jdbcType=INTEGER},
      max_length = #{maxLength,jdbcType=VARCHAR},
      max_width = #{maxWidth,jdbcType=VARCHAR},
      max_areas = #{maxAreas,jdbcType=VARCHAR},
      mix_length = #{mixLength,jdbcType=VARCHAR},
      mix_width = #{mixWidth,jdbcType=VARCHAR},
      mix_areas = #{mixAreas,jdbcType=VARCHAR},
      mix_high = #{mixHigh,jdbcType=VARCHAR},
      space_pid = #{spacePid,jdbcType=INTEGER},
      space_sign = #{spaceSign,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=INTEGER},
      space_modified = #{spaceModified,jdbcType=TIMESTAMP},
      reset_location_state = #{resetLocationState,jdbcType=INTEGER},
      unreset_location_state = #{unresetLocationState,jdbcType=INTEGER},
      space_id = #{spaceId,jdbcType=INTEGER},
      standard_space_id = #{standardSpaceId,jdbcType=INTEGER},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      numa1 = #{numa1,jdbcType=INTEGER},
      numa2 = #{numa2,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>