<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.ResHousePicMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.ResHousePic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pic_code" jdbcType="VARCHAR" property="picCode" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_file_name" jdbcType="VARCHAR" property="picFileName" />
    <result column="pic_type" jdbcType="VARCHAR" property="picType" />
    <result column="pic_size" jdbcType="INTEGER" property="picSize" />
    <result column="pic_weight" jdbcType="VARCHAR" property="picWeight" />
    <result column="pic_high" jdbcType="VARCHAR" property="picHigh" />
    <result column="pic_suffix" jdbcType="VARCHAR" property="picSuffix" />
    <result column="pic_level" jdbcType="VARCHAR" property="picLevel" />
    <result column="pic_format" jdbcType="VARCHAR" property="picFormat" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="pic_desc" jdbcType="VARCHAR" property="picDesc" />
    <result column="pic_ordering" jdbcType="VARCHAR" property="picOrdering" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
    <result column="file_keys" jdbcType="VARCHAR" property="fileKeys" />
    <result column="business_ids" jdbcType="VARCHAR" property="businessIds" />
    <result column="small_pic_info" jdbcType="VARCHAR" property="smallPicInfo" />
    <result column="view_point" jdbcType="INTEGER" property="viewPoint" />
    <result column="scene" jdbcType="INTEGER" property="scene" />
    <result column="date_att1" jdbcType="TIMESTAMP" property="dateAtt1" />
    <result column="date_att2" jdbcType="TIMESTAMP" property="dateAtt2" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="num_att2" jdbcType="INTEGER" property="numAtt2" />
    <result column="num_att3" jdbcType="DECIMAL" property="numAtt3" />
    <result column="num_att4" jdbcType="DECIMAL" property="numAtt4" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="numa1" jdbcType="INTEGER" property="numa1" />
    <result column="numa2" jdbcType="INTEGER" property="numa2" />
    <result column="thumbnail_path" jdbcType="VARCHAR" property="thumbnailPath" />
    <result column="large_thumbnail_path" jdbcType="VARCHAR" property="largeThumbnailPath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pic_code, pic_name, pic_file_name, pic_type, pic_size, pic_weight, pic_high, 
    pic_suffix, pic_level, pic_format, pic_path, pic_desc, pic_ordering, sys_code, creator, 
    gmt_create, modifier, gmt_modified, is_deleted, file_key, file_keys, business_ids, 
    small_pic_info, view_point, scene, date_att1, date_att2, business_id, num_att2, num_att3, 
    num_att4, remark, sequence, att1, att2, numa1, numa2, thumbnail_path, large_thumbnail_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from res_house_pic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from res_house_pic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.ResHousePic">
    insert into res_house_pic (id, pic_code, pic_name, 
      pic_file_name, pic_type, pic_size, 
      pic_weight, pic_high, pic_suffix, 
      pic_level, pic_format, pic_path, 
      pic_desc, pic_ordering, sys_code, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, file_key, 
      file_keys, business_ids, small_pic_info, 
      view_point, scene, date_att1, 
      date_att2, business_id, num_att2, 
      num_att3, num_att4, remark, 
      sequence, att1, att2, 
      numa1, numa2, thumbnail_path, 
      large_thumbnail_path)
    values (#{id,jdbcType=BIGINT}, #{picCode,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, 
      #{picFileName,jdbcType=VARCHAR}, #{picType,jdbcType=VARCHAR}, #{picSize,jdbcType=INTEGER}, 
      #{picWeight,jdbcType=VARCHAR}, #{picHigh,jdbcType=VARCHAR}, #{picSuffix,jdbcType=VARCHAR}, 
      #{picLevel,jdbcType=VARCHAR}, #{picFormat,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR}, 
      #{picDesc,jdbcType=VARCHAR}, #{picOrdering,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{fileKey,jdbcType=VARCHAR}, 
      #{fileKeys,jdbcType=VARCHAR}, #{businessIds,jdbcType=VARCHAR}, #{smallPicInfo,jdbcType=VARCHAR}, 
      #{viewPoint,jdbcType=INTEGER}, #{scene,jdbcType=INTEGER}, #{dateAtt1,jdbcType=TIMESTAMP}, 
      #{dateAtt2,jdbcType=TIMESTAMP}, #{businessId,jdbcType=INTEGER}, #{numAtt2,jdbcType=INTEGER}, 
      #{numAtt3,jdbcType=DECIMAL}, #{numAtt4,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{att1,jdbcType=VARCHAR}, #{att2,jdbcType=VARCHAR}, 
      #{numa1,jdbcType=INTEGER}, #{numa2,jdbcType=INTEGER}, #{thumbnailPath,jdbcType=VARCHAR}, 
      #{largeThumbnailPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.ResHousePic">
    insert into res_house_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="picCode != null">
        pic_code,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="picFileName != null">
        pic_file_name,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
      <if test="picSize != null">
        pic_size,
      </if>
      <if test="picWeight != null">
        pic_weight,
      </if>
      <if test="picHigh != null">
        pic_high,
      </if>
      <if test="picSuffix != null">
        pic_suffix,
      </if>
      <if test="picLevel != null">
        pic_level,
      </if>
      <if test="picFormat != null">
        pic_format,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
      <if test="picDesc != null">
        pic_desc,
      </if>
      <if test="picOrdering != null">
        pic_ordering,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="fileKey != null">
        file_key,
      </if>
      <if test="fileKeys != null">
        file_keys,
      </if>
      <if test="businessIds != null">
        business_ids,
      </if>
      <if test="smallPicInfo != null">
        small_pic_info,
      </if>
      <if test="viewPoint != null">
        view_point,
      </if>
      <if test="scene != null">
        scene,
      </if>
      <if test="dateAtt1 != null">
        date_att1,
      </if>
      <if test="dateAtt2 != null">
        date_att2,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="numAtt2 != null">
        num_att2,
      </if>
      <if test="numAtt3 != null">
        num_att3,
      </if>
      <if test="numAtt4 != null">
        num_att4,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="numa1 != null">
        numa1,
      </if>
      <if test="numa2 != null">
        numa2,
      </if>
      <if test="thumbnailPath != null">
        thumbnail_path,
      </if>
      <if test="largeThumbnailPath != null">
        large_thumbnail_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="picCode != null">
        #{picCode,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picFileName != null">
        #{picFileName,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null">
        #{picSize,jdbcType=INTEGER},
      </if>
      <if test="picWeight != null">
        #{picWeight,jdbcType=VARCHAR},
      </if>
      <if test="picHigh != null">
        #{picHigh,jdbcType=VARCHAR},
      </if>
      <if test="picSuffix != null">
        #{picSuffix,jdbcType=VARCHAR},
      </if>
      <if test="picLevel != null">
        #{picLevel,jdbcType=VARCHAR},
      </if>
      <if test="picFormat != null">
        #{picFormat,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="picDesc != null">
        #{picDesc,jdbcType=VARCHAR},
      </if>
      <if test="picOrdering != null">
        #{picOrdering,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="fileKey != null">
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="fileKeys != null">
        #{fileKeys,jdbcType=VARCHAR},
      </if>
      <if test="businessIds != null">
        #{businessIds,jdbcType=VARCHAR},
      </if>
      <if test="smallPicInfo != null">
        #{smallPicInfo,jdbcType=VARCHAR},
      </if>
      <if test="viewPoint != null">
        #{viewPoint,jdbcType=INTEGER},
      </if>
      <if test="scene != null">
        #{scene,jdbcType=INTEGER},
      </if>
      <if test="dateAtt1 != null">
        #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        #{numa2,jdbcType=INTEGER},
      </if>
      <if test="thumbnailPath != null">
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="largeThumbnailPath != null">
        #{largeThumbnailPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.ResHousePic">
    update res_house_pic
    <set>
      <if test="picCode != null">
        pic_code = #{picCode,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picFileName != null">
        pic_file_name = #{picFileName,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        pic_type = #{picType,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null">
        pic_size = #{picSize,jdbcType=INTEGER},
      </if>
      <if test="picWeight != null">
        pic_weight = #{picWeight,jdbcType=VARCHAR},
      </if>
      <if test="picHigh != null">
        pic_high = #{picHigh,jdbcType=VARCHAR},
      </if>
      <if test="picSuffix != null">
        pic_suffix = #{picSuffix,jdbcType=VARCHAR},
      </if>
      <if test="picLevel != null">
        pic_level = #{picLevel,jdbcType=VARCHAR},
      </if>
      <if test="picFormat != null">
        pic_format = #{picFormat,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="picDesc != null">
        pic_desc = #{picDesc,jdbcType=VARCHAR},
      </if>
      <if test="picOrdering != null">
        pic_ordering = #{picOrdering,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="fileKey != null">
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="fileKeys != null">
        file_keys = #{fileKeys,jdbcType=VARCHAR},
      </if>
      <if test="businessIds != null">
        business_ids = #{businessIds,jdbcType=VARCHAR},
      </if>
      <if test="smallPicInfo != null">
        small_pic_info = #{smallPicInfo,jdbcType=VARCHAR},
      </if>
      <if test="viewPoint != null">
        view_point = #{viewPoint,jdbcType=INTEGER},
      </if>
      <if test="scene != null">
        scene = #{scene,jdbcType=INTEGER},
      </if>
      <if test="dateAtt1 != null">
        date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        num_att2 = #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        numa1 = #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        numa2 = #{numa2,jdbcType=INTEGER},
      </if>
      <if test="thumbnailPath != null">
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="largeThumbnailPath != null">
        large_thumbnail_path = #{largeThumbnailPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.ResHousePic">
    update res_house_pic
    set pic_code = #{picCode,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      pic_file_name = #{picFileName,jdbcType=VARCHAR},
      pic_type = #{picType,jdbcType=VARCHAR},
      pic_size = #{picSize,jdbcType=INTEGER},
      pic_weight = #{picWeight,jdbcType=VARCHAR},
      pic_high = #{picHigh,jdbcType=VARCHAR},
      pic_suffix = #{picSuffix,jdbcType=VARCHAR},
      pic_level = #{picLevel,jdbcType=VARCHAR},
      pic_format = #{picFormat,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      pic_desc = #{picDesc,jdbcType=VARCHAR},
      pic_ordering = #{picOrdering,jdbcType=VARCHAR},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      file_key = #{fileKey,jdbcType=VARCHAR},
      file_keys = #{fileKeys,jdbcType=VARCHAR},
      business_ids = #{businessIds,jdbcType=VARCHAR},
      small_pic_info = #{smallPicInfo,jdbcType=VARCHAR},
      view_point = #{viewPoint,jdbcType=INTEGER},
      scene = #{scene,jdbcType=INTEGER},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      business_id = #{businessId,jdbcType=INTEGER},
      num_att2 = #{numAtt2,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      numa1 = #{numa1,jdbcType=INTEGER},
      numa2 = #{numa2,jdbcType=INTEGER},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      large_thumbnail_path = #{largeThumbnailPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>