<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.ResModelMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.ResModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="model_code" jdbcType="VARCHAR" property="modelCode" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="model_file_name" jdbcType="VARCHAR" property="modelFileName" />
    <result column="model_type" jdbcType="VARCHAR" property="modelType" />
    <result column="model_size" jdbcType="VARCHAR" property="modelSize" />
    <result column="model_suffix" jdbcType="VARCHAR" property="modelSuffix" />
    <result column="model_level" jdbcType="VARCHAR" property="modelLevel" />
    <result column="model_path" jdbcType="VARCHAR" property="modelPath" />
    <result column="model_desc" jdbcType="VARCHAR" property="modelDesc" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="model_ordering" jdbcType="INTEGER" property="modelOrdering" />
    <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
    <result column="file_keys" jdbcType="VARCHAR" property="fileKeys" />
    <result column="business_ids" jdbcType="VARCHAR" property="businessIds" />
    <result column="att4" jdbcType="VARCHAR" property="att4" />
    <result column="att5" jdbcType="VARCHAR" property="att5" />
    <result column="att6" jdbcType="VARCHAR" property="att6" />
    <result column="date_att1" jdbcType="TIMESTAMP" property="dateAtt1" />
    <result column="date_att2" jdbcType="TIMESTAMP" property="dateAtt2" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="num_att2" jdbcType="INTEGER" property="numAtt2" />
    <result column="num_att3" jdbcType="DECIMAL" property="numAtt3" />
    <result column="num_att4" jdbcType="DECIMAL" property="numAtt4" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="LENGTH" jdbcType="INTEGER" property="length" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="min_height" jdbcType="INTEGER" property="minHeight" />
    <result column="is_model_share" jdbcType="INTEGER" property="isModelShare" />
    <result column="is_decompress" jdbcType="INTEGER" property="isDecompress" />
  </resultMap>
  <sql id="Base_Column_List">
    id, model_code, model_name, model_file_name, model_type, model_size, model_suffix, 
    model_level, model_path, model_desc, sys_code, creator, gmt_create, modifier, gmt_modified, 
    is_deleted, model_ordering, file_key, file_keys, business_ids, att4, att5, att6, 
    date_att1, date_att2, business_id, num_att2, num_att3, num_att4, remark, LENGTH, 
    height, width, min_height, is_model_share, is_decompress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from res_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from res_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.ResModel">
    insert into res_model (id, model_code, model_name, 
      model_file_name, model_type, model_size, 
      model_suffix, model_level, model_path, 
      model_desc, sys_code, creator, 
      gmt_create, modifier, gmt_modified, 
      is_deleted, model_ordering, file_key, 
      file_keys, business_ids, att4, 
      att5, att6, date_att1, 
      date_att2, business_id, num_att2, 
      num_att3, num_att4, remark, 
      LENGTH, height, width, 
      min_height, is_model_share, is_decompress
      )
    values (#{id,jdbcType=BIGINT}, #{modelCode,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, 
      #{modelFileName,jdbcType=VARCHAR}, #{modelType,jdbcType=VARCHAR}, #{modelSize,jdbcType=VARCHAR}, 
      #{modelSuffix,jdbcType=VARCHAR}, #{modelLevel,jdbcType=VARCHAR}, #{modelPath,jdbcType=VARCHAR}, 
      #{modelDesc,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{modelOrdering,jdbcType=INTEGER}, #{fileKey,jdbcType=VARCHAR}, 
      #{fileKeys,jdbcType=VARCHAR}, #{businessIds,jdbcType=VARCHAR}, #{att4,jdbcType=VARCHAR}, 
      #{att5,jdbcType=VARCHAR}, #{att6,jdbcType=VARCHAR}, #{dateAtt1,jdbcType=TIMESTAMP}, 
      #{dateAtt2,jdbcType=TIMESTAMP}, #{businessId,jdbcType=INTEGER}, #{numAtt2,jdbcType=INTEGER}, 
      #{numAtt3,jdbcType=DECIMAL}, #{numAtt4,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{length,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, 
      #{minHeight,jdbcType=INTEGER}, #{isModelShare,jdbcType=INTEGER}, #{isDecompress,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.ResModel">
    insert into res_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelCode != null">
        model_code,
      </if>
      <if test="modelName != null">
        model_name,
      </if>
      <if test="modelFileName != null">
        model_file_name,
      </if>
      <if test="modelType != null">
        model_type,
      </if>
      <if test="modelSize != null">
        model_size,
      </if>
      <if test="modelSuffix != null">
        model_suffix,
      </if>
      <if test="modelLevel != null">
        model_level,
      </if>
      <if test="modelPath != null">
        model_path,
      </if>
      <if test="modelDesc != null">
        model_desc,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="modelOrdering != null">
        model_ordering,
      </if>
      <if test="fileKey != null">
        file_key,
      </if>
      <if test="fileKeys != null">
        file_keys,
      </if>
      <if test="businessIds != null">
        business_ids,
      </if>
      <if test="att4 != null">
        att4,
      </if>
      <if test="att5 != null">
        att5,
      </if>
      <if test="att6 != null">
        att6,
      </if>
      <if test="dateAtt1 != null">
        date_att1,
      </if>
      <if test="dateAtt2 != null">
        date_att2,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="numAtt2 != null">
        num_att2,
      </if>
      <if test="numAtt3 != null">
        num_att3,
      </if>
      <if test="numAtt4 != null">
        num_att4,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="length != null">
        LENGTH,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="minHeight != null">
        min_height,
      </if>
      <if test="isModelShare != null">
        is_model_share,
      </if>
      <if test="isDecompress != null">
        is_decompress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="modelCode != null">
        #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelFileName != null">
        #{modelFileName,jdbcType=VARCHAR},
      </if>
      <if test="modelType != null">
        #{modelType,jdbcType=VARCHAR},
      </if>
      <if test="modelSize != null">
        #{modelSize,jdbcType=VARCHAR},
      </if>
      <if test="modelSuffix != null">
        #{modelSuffix,jdbcType=VARCHAR},
      </if>
      <if test="modelLevel != null">
        #{modelLevel,jdbcType=VARCHAR},
      </if>
      <if test="modelPath != null">
        #{modelPath,jdbcType=VARCHAR},
      </if>
      <if test="modelDesc != null">
        #{modelDesc,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="modelOrdering != null">
        #{modelOrdering,jdbcType=INTEGER},
      </if>
      <if test="fileKey != null">
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="fileKeys != null">
        #{fileKeys,jdbcType=VARCHAR},
      </if>
      <if test="businessIds != null">
        #{businessIds,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        #{length,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="minHeight != null">
        #{minHeight,jdbcType=INTEGER},
      </if>
      <if test="isModelShare != null">
        #{isModelShare,jdbcType=INTEGER},
      </if>
      <if test="isDecompress != null">
        #{isDecompress,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.ResModel">
    update res_model
    <set>
      <if test="modelCode != null">
        model_code = #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelFileName != null">
        model_file_name = #{modelFileName,jdbcType=VARCHAR},
      </if>
      <if test="modelType != null">
        model_type = #{modelType,jdbcType=VARCHAR},
      </if>
      <if test="modelSize != null">
        model_size = #{modelSize,jdbcType=VARCHAR},
      </if>
      <if test="modelSuffix != null">
        model_suffix = #{modelSuffix,jdbcType=VARCHAR},
      </if>
      <if test="modelLevel != null">
        model_level = #{modelLevel,jdbcType=VARCHAR},
      </if>
      <if test="modelPath != null">
        model_path = #{modelPath,jdbcType=VARCHAR},
      </if>
      <if test="modelDesc != null">
        model_desc = #{modelDesc,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="modelOrdering != null">
        model_ordering = #{modelOrdering,jdbcType=INTEGER},
      </if>
      <if test="fileKey != null">
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="fileKeys != null">
        file_keys = #{fileKeys,jdbcType=VARCHAR},
      </if>
      <if test="businessIds != null">
        business_ids = #{businessIds,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        att4 = #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        att5 = #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        att6 = #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        num_att2 = #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        LENGTH = #{length,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="minHeight != null">
        min_height = #{minHeight,jdbcType=INTEGER},
      </if>
      <if test="isModelShare != null">
        is_model_share = #{isModelShare,jdbcType=INTEGER},
      </if>
      <if test="isDecompress != null">
        is_decompress = #{isDecompress,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.ResModel">
    update res_model
    set model_code = #{modelCode,jdbcType=VARCHAR},
      model_name = #{modelName,jdbcType=VARCHAR},
      model_file_name = #{modelFileName,jdbcType=VARCHAR},
      model_type = #{modelType,jdbcType=VARCHAR},
      model_size = #{modelSize,jdbcType=VARCHAR},
      model_suffix = #{modelSuffix,jdbcType=VARCHAR},
      model_level = #{modelLevel,jdbcType=VARCHAR},
      model_path = #{modelPath,jdbcType=VARCHAR},
      model_desc = #{modelDesc,jdbcType=VARCHAR},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      model_ordering = #{modelOrdering,jdbcType=INTEGER},
      file_key = #{fileKey,jdbcType=VARCHAR},
      file_keys = #{fileKeys,jdbcType=VARCHAR},
      business_ids = #{businessIds,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      business_id = #{businessId,jdbcType=INTEGER},
      num_att2 = #{numAtt2,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      LENGTH = #{length,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      min_height = #{minHeight,jdbcType=INTEGER},
      is_model_share = #{isModelShare,jdbcType=INTEGER},
      is_decompress = #{isDecompress,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>