<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.SpaceCommonMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.SpaceCommon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="space_code" jdbcType="VARCHAR" property="spaceCode" />
    <result column="space_name" jdbcType="VARCHAR" property="spaceName" />
    <result column="space_function_id" jdbcType="INTEGER" property="spaceFunctionId" />
    <result column="main_length" jdbcType="VARCHAR" property="mainLength" />
    <result column="main_width" jdbcType="VARCHAR" property="mainWidth" />
    <result column="space_areas" jdbcType="VARCHAR" property="spaceAreas" />
    <result column="space_shape" jdbcType="VARCHAR" property="spaceShape" />
    <result column="door_location_type" jdbcType="VARCHAR" property="doorLocationType" />
    <result column="door_location_id" jdbcType="INTEGER" property="doorLocationId" />
    <result column="pic_id" jdbcType="INTEGER" property="picId" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="space_desc" jdbcType="VARCHAR" property="spaceDesc" />
    <result column="location_arrays" jdbcType="VARCHAR" property="locationArrays" />
    <result column="is_include_way" jdbcType="INTEGER" property="isIncludeWay" />
    <result column="way_location" jdbcType="VARCHAR" property="wayLocation" />
    <result column="user_num" jdbcType="INTEGER" property="userNum" />
    <result column="search_num" jdbcType="INTEGER" property="searchNum" />
    <result column="space_num" jdbcType="INTEGER" property="spaceNum" />
    <result column="space_percent" jdbcType="VARCHAR" property="spacePercent" />
    <result column="datasource_id" jdbcType="INTEGER" property="datasourceId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="model_3d_id" jdbcType="VARCHAR" property="model3dId" />
    <result column="model_u3d_id" jdbcType="VARCHAR" property="modelU3dId" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="view3d_pic_id" jdbcType="VARCHAR" property="view3dPicId" />
    <result column="att4" jdbcType="VARCHAR" property="att4" />
    <result column="att5" jdbcType="VARCHAR" property="att5" />
    <result column="att6" jdbcType="VARCHAR" property="att6" />
    <result column="publish_modified" jdbcType="TIMESTAMP" property="publishModified" />
    <result column="date_att2" jdbcType="TIMESTAMP" property="dateAtt2" />
    <result column="style_id" jdbcType="INTEGER" property="styleId" />
    <result column="cad_pic_id" jdbcType="INTEGER" property="cadPicId" />
    <result column="num_att3" jdbcType="DECIMAL" property="numAtt3" />
    <result column="num_att4" jdbcType="DECIMAL" property="numAtt4" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ipad_u3d_model_id" jdbcType="VARCHAR" property="ipadU3dModelId" />
    <result column="ios_u3d_model_id" jdbcType="VARCHAR" property="iosU3dModelId" />
    <result column="android_u3d_model_id" jdbcType="VARCHAR" property="androidU3dModelId" />
    <result column="macBookPc_u3d_model_id" jdbcType="VARCHAR" property="macbookpcU3dModelId" />
    <result column="windowsPc_u3d_model_id" jdbcType="VARCHAR" property="windowspcU3dModelId" />
    <result column="total_usage_amount" jdbcType="INTEGER" property="totalUsageAmount" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="is_standard_space" jdbcType="INTEGER" property="isStandardSpace" />
    <result column="web_u3d_mode_id" jdbcType="VARCHAR" property="webU3dModeId" />
    <result column="cad_address" jdbcType="VARCHAR" property="cadAddress" />
    <result column="window_location_value" jdbcType="INTEGER" property="windowLocationValue" />
    <result column="view_plan_ids" jdbcType="VARCHAR" property="viewPlanIds" />
    <result column="sync_status" jdbcType="VARCHAR" property="syncStatus" />
    <result column="scene3d_id" jdbcType="INTEGER" property="scene3dId" />
    <result column="space_shape_pic_id" jdbcType="INTEGER" property="spaceShapePicId" />
    <result column="open_status" jdbcType="INTEGER" property="openStatus" />
    <result column="daylight_u3d_model_id" jdbcType="INTEGER" property="daylightU3dModelId" />
    <result column="dusklight_u3d_model_id" jdbcType="INTEGER" property="dusklightU3dModelId" />
    <result column="nightlight_u3d_model_id" jdbcType="INTEGER" property="nightlightU3dModelId" />
    <result column="space_analyze_code" jdbcType="VARCHAR" property="spaceAnalyzeCode" />
    <result column="space_u3d_code" jdbcType="VARCHAR" property="spaceU3dCode" />
    <result column="space_main_length" jdbcType="VARCHAR" property="spaceMainLength" />
    <result column="space_main_width" jdbcType="VARCHAR" property="spaceMainWidth" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_code, space_code, space_name, space_function_id, main_length, main_width, 
    space_areas, space_shape, door_location_type, door_location_id, pic_id, model_id, 
    space_desc, location_arrays, is_include_way, way_location, user_num, search_num, 
    space_num, space_percent, datasource_id, status, creator, gmt_create, modifier, gmt_modified, 
    is_deleted, model_3d_id, model_u3d_id, att1, att2, view3d_pic_id, att4, att5, att6, 
    publish_modified, date_att2, style_id, cad_pic_id, num_att3, num_att4, remark, ipad_u3d_model_id, 
    ios_u3d_model_id, android_u3d_model_id, macBookPc_u3d_model_id, windowsPc_u3d_model_id, 
    total_usage_amount, pid, is_standard_space, web_u3d_mode_id, cad_address, window_location_value, 
    view_plan_ids, sync_status, scene3d_id, space_shape_pic_id, open_status, daylight_u3d_model_id, 
    dusklight_u3d_model_id, nightlight_u3d_model_id, space_analyze_code, space_u3d_code, 
    space_main_length, space_main_width
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from space_common
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from space_common
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.SpaceCommon">
    insert into space_common (id, sys_code, space_code, 
      space_name, space_function_id, main_length, 
      main_width, space_areas, space_shape, 
      door_location_type, door_location_id, pic_id, 
      model_id, space_desc, location_arrays, 
      is_include_way, way_location, user_num, 
      search_num, space_num, space_percent, 
      datasource_id, status, creator, 
      gmt_create, modifier, gmt_modified, 
      is_deleted, model_3d_id, model_u3d_id, 
      att1, att2, view3d_pic_id, 
      att4, att5, att6, publish_modified, 
      date_att2, style_id, cad_pic_id, 
      num_att3, num_att4, remark, 
      ipad_u3d_model_id, ios_u3d_model_id, android_u3d_model_id, 
      macBookPc_u3d_model_id, windowsPc_u3d_model_id, 
      total_usage_amount, pid, is_standard_space, 
      web_u3d_mode_id, cad_address, window_location_value, 
      view_plan_ids, sync_status, scene3d_id, 
      space_shape_pic_id, open_status, daylight_u3d_model_id, 
      dusklight_u3d_model_id, nightlight_u3d_model_id, 
      space_analyze_code, space_u3d_code, space_main_length, 
      space_main_width)
    values (#{id,jdbcType=BIGINT}, #{sysCode,jdbcType=VARCHAR}, #{spaceCode,jdbcType=VARCHAR}, 
      #{spaceName,jdbcType=VARCHAR}, #{spaceFunctionId,jdbcType=INTEGER}, #{mainLength,jdbcType=VARCHAR}, 
      #{mainWidth,jdbcType=VARCHAR}, #{spaceAreas,jdbcType=VARCHAR}, #{spaceShape,jdbcType=VARCHAR}, 
      #{doorLocationType,jdbcType=VARCHAR}, #{doorLocationId,jdbcType=INTEGER}, #{picId,jdbcType=INTEGER}, 
      #{modelId,jdbcType=INTEGER}, #{spaceDesc,jdbcType=VARCHAR}, #{locationArrays,jdbcType=VARCHAR}, 
      #{isIncludeWay,jdbcType=INTEGER}, #{wayLocation,jdbcType=VARCHAR}, #{userNum,jdbcType=INTEGER}, 
      #{searchNum,jdbcType=INTEGER}, #{spaceNum,jdbcType=INTEGER}, #{spacePercent,jdbcType=VARCHAR}, 
      #{datasourceId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{model3dId,jdbcType=VARCHAR}, #{modelU3dId,jdbcType=VARCHAR}, 
      #{att1,jdbcType=VARCHAR}, #{att2,jdbcType=VARCHAR}, #{view3dPicId,jdbcType=VARCHAR}, 
      #{att4,jdbcType=VARCHAR}, #{att5,jdbcType=VARCHAR}, #{att6,jdbcType=VARCHAR}, #{publishModified,jdbcType=TIMESTAMP}, 
      #{dateAtt2,jdbcType=TIMESTAMP}, #{styleId,jdbcType=INTEGER}, #{cadPicId,jdbcType=INTEGER}, 
      #{numAtt3,jdbcType=DECIMAL}, #{numAtt4,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{ipadU3dModelId,jdbcType=VARCHAR}, #{iosU3dModelId,jdbcType=VARCHAR}, #{androidU3dModelId,jdbcType=VARCHAR}, 
      #{macbookpcU3dModelId,jdbcType=VARCHAR}, #{windowspcU3dModelId,jdbcType=VARCHAR}, 
      #{totalUsageAmount,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{isStandardSpace,jdbcType=INTEGER}, 
      #{webU3dModeId,jdbcType=VARCHAR}, #{cadAddress,jdbcType=VARCHAR}, #{windowLocationValue,jdbcType=INTEGER}, 
      #{viewPlanIds,jdbcType=VARCHAR}, #{syncStatus,jdbcType=VARCHAR}, #{scene3dId,jdbcType=INTEGER}, 
      #{spaceShapePicId,jdbcType=INTEGER}, #{openStatus,jdbcType=INTEGER}, #{daylightU3dModelId,jdbcType=INTEGER}, 
      #{dusklightU3dModelId,jdbcType=INTEGER}, #{nightlightU3dModelId,jdbcType=INTEGER}, 
      #{spaceAnalyzeCode,jdbcType=VARCHAR}, #{spaceU3dCode,jdbcType=VARCHAR}, #{spaceMainLength,jdbcType=VARCHAR}, 
      #{spaceMainWidth,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.SpaceCommon">
    insert into space_common
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="spaceCode != null">
        space_code,
      </if>
      <if test="spaceName != null">
        space_name,
      </if>
      <if test="spaceFunctionId != null">
        space_function_id,
      </if>
      <if test="mainLength != null">
        main_length,
      </if>
      <if test="mainWidth != null">
        main_width,
      </if>
      <if test="spaceAreas != null">
        space_areas,
      </if>
      <if test="spaceShape != null">
        space_shape,
      </if>
      <if test="doorLocationType != null">
        door_location_type,
      </if>
      <if test="doorLocationId != null">
        door_location_id,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="spaceDesc != null">
        space_desc,
      </if>
      <if test="locationArrays != null">
        location_arrays,
      </if>
      <if test="isIncludeWay != null">
        is_include_way,
      </if>
      <if test="wayLocation != null">
        way_location,
      </if>
      <if test="userNum != null">
        user_num,
      </if>
      <if test="searchNum != null">
        search_num,
      </if>
      <if test="spaceNum != null">
        space_num,
      </if>
      <if test="spacePercent != null">
        space_percent,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="model3dId != null">
        model_3d_id,
      </if>
      <if test="modelU3dId != null">
        model_u3d_id,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="view3dPicId != null">
        view3d_pic_id,
      </if>
      <if test="att4 != null">
        att4,
      </if>
      <if test="att5 != null">
        att5,
      </if>
      <if test="att6 != null">
        att6,
      </if>
      <if test="publishModified != null">
        publish_modified,
      </if>
      <if test="dateAtt2 != null">
        date_att2,
      </if>
      <if test="styleId != null">
        style_id,
      </if>
      <if test="cadPicId != null">
        cad_pic_id,
      </if>
      <if test="numAtt3 != null">
        num_att3,
      </if>
      <if test="numAtt4 != null">
        num_att4,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ipadU3dModelId != null">
        ipad_u3d_model_id,
      </if>
      <if test="iosU3dModelId != null">
        ios_u3d_model_id,
      </if>
      <if test="androidU3dModelId != null">
        android_u3d_model_id,
      </if>
      <if test="macbookpcU3dModelId != null">
        macBookPc_u3d_model_id,
      </if>
      <if test="windowspcU3dModelId != null">
        windowsPc_u3d_model_id,
      </if>
      <if test="totalUsageAmount != null">
        total_usage_amount,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="isStandardSpace != null">
        is_standard_space,
      </if>
      <if test="webU3dModeId != null">
        web_u3d_mode_id,
      </if>
      <if test="cadAddress != null">
        cad_address,
      </if>
      <if test="windowLocationValue != null">
        window_location_value,
      </if>
      <if test="viewPlanIds != null">
        view_plan_ids,
      </if>
      <if test="syncStatus != null">
        sync_status,
      </if>
      <if test="scene3dId != null">
        scene3d_id,
      </if>
      <if test="spaceShapePicId != null">
        space_shape_pic_id,
      </if>
      <if test="openStatus != null">
        open_status,
      </if>
      <if test="daylightU3dModelId != null">
        daylight_u3d_model_id,
      </if>
      <if test="dusklightU3dModelId != null">
        dusklight_u3d_model_id,
      </if>
      <if test="nightlightU3dModelId != null">
        nightlight_u3d_model_id,
      </if>
      <if test="spaceAnalyzeCode != null">
        space_analyze_code,
      </if>
      <if test="spaceU3dCode != null">
        space_u3d_code,
      </if>
      <if test="spaceMainLength != null">
        space_main_length,
      </if>
      <if test="spaceMainWidth != null">
        space_main_width,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceCode != null">
        #{spaceCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceName != null">
        #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="spaceFunctionId != null">
        #{spaceFunctionId,jdbcType=INTEGER},
      </if>
      <if test="mainLength != null">
        #{mainLength,jdbcType=VARCHAR},
      </if>
      <if test="mainWidth != null">
        #{mainWidth,jdbcType=VARCHAR},
      </if>
      <if test="spaceAreas != null">
        #{spaceAreas,jdbcType=VARCHAR},
      </if>
      <if test="spaceShape != null">
        #{spaceShape,jdbcType=VARCHAR},
      </if>
      <if test="doorLocationType != null">
        #{doorLocationType,jdbcType=VARCHAR},
      </if>
      <if test="doorLocationId != null">
        #{doorLocationId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="spaceDesc != null">
        #{spaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="locationArrays != null">
        #{locationArrays,jdbcType=VARCHAR},
      </if>
      <if test="isIncludeWay != null">
        #{isIncludeWay,jdbcType=INTEGER},
      </if>
      <if test="wayLocation != null">
        #{wayLocation,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        #{userNum,jdbcType=INTEGER},
      </if>
      <if test="searchNum != null">
        #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="spaceNum != null">
        #{spaceNum,jdbcType=INTEGER},
      </if>
      <if test="spacePercent != null">
        #{spacePercent,jdbcType=VARCHAR},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="model3dId != null">
        #{model3dId,jdbcType=VARCHAR},
      </if>
      <if test="modelU3dId != null">
        #{modelU3dId,jdbcType=VARCHAR},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="view3dPicId != null">
        #{view3dPicId,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        #{att6,jdbcType=VARCHAR},
      </if>
      <if test="publishModified != null">
        #{publishModified,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="styleId != null">
        #{styleId,jdbcType=INTEGER},
      </if>
      <if test="cadPicId != null">
        #{cadPicId,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ipadU3dModelId != null">
        #{ipadU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="iosU3dModelId != null">
        #{iosU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="androidU3dModelId != null">
        #{androidU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="macbookpcU3dModelId != null">
        #{macbookpcU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="windowspcU3dModelId != null">
        #{windowspcU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="totalUsageAmount != null">
        #{totalUsageAmount,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="isStandardSpace != null">
        #{isStandardSpace,jdbcType=INTEGER},
      </if>
      <if test="webU3dModeId != null">
        #{webU3dModeId,jdbcType=VARCHAR},
      </if>
      <if test="cadAddress != null">
        #{cadAddress,jdbcType=VARCHAR},
      </if>
      <if test="windowLocationValue != null">
        #{windowLocationValue,jdbcType=INTEGER},
      </if>
      <if test="viewPlanIds != null">
        #{viewPlanIds,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        #{syncStatus,jdbcType=VARCHAR},
      </if>
      <if test="scene3dId != null">
        #{scene3dId,jdbcType=INTEGER},
      </if>
      <if test="spaceShapePicId != null">
        #{spaceShapePicId,jdbcType=INTEGER},
      </if>
      <if test="openStatus != null">
        #{openStatus,jdbcType=INTEGER},
      </if>
      <if test="daylightU3dModelId != null">
        #{daylightU3dModelId,jdbcType=INTEGER},
      </if>
      <if test="dusklightU3dModelId != null">
        #{dusklightU3dModelId,jdbcType=INTEGER},
      </if>
      <if test="nightlightU3dModelId != null">
        #{nightlightU3dModelId,jdbcType=INTEGER},
      </if>
      <if test="spaceAnalyzeCode != null">
        #{spaceAnalyzeCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceU3dCode != null">
        #{spaceU3dCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceMainLength != null">
        #{spaceMainLength,jdbcType=VARCHAR},
      </if>
      <if test="spaceMainWidth != null">
        #{spaceMainWidth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.SpaceCommon">
    update space_common
    <set>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceCode != null">
        space_code = #{spaceCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceName != null">
        space_name = #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="spaceFunctionId != null">
        space_function_id = #{spaceFunctionId,jdbcType=INTEGER},
      </if>
      <if test="mainLength != null">
        main_length = #{mainLength,jdbcType=VARCHAR},
      </if>
      <if test="mainWidth != null">
        main_width = #{mainWidth,jdbcType=VARCHAR},
      </if>
      <if test="spaceAreas != null">
        space_areas = #{spaceAreas,jdbcType=VARCHAR},
      </if>
      <if test="spaceShape != null">
        space_shape = #{spaceShape,jdbcType=VARCHAR},
      </if>
      <if test="doorLocationType != null">
        door_location_type = #{doorLocationType,jdbcType=VARCHAR},
      </if>
      <if test="doorLocationId != null">
        door_location_id = #{doorLocationId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="spaceDesc != null">
        space_desc = #{spaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="locationArrays != null">
        location_arrays = #{locationArrays,jdbcType=VARCHAR},
      </if>
      <if test="isIncludeWay != null">
        is_include_way = #{isIncludeWay,jdbcType=INTEGER},
      </if>
      <if test="wayLocation != null">
        way_location = #{wayLocation,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        user_num = #{userNum,jdbcType=INTEGER},
      </if>
      <if test="searchNum != null">
        search_num = #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="spaceNum != null">
        space_num = #{spaceNum,jdbcType=INTEGER},
      </if>
      <if test="spacePercent != null">
        space_percent = #{spacePercent,jdbcType=VARCHAR},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="model3dId != null">
        model_3d_id = #{model3dId,jdbcType=VARCHAR},
      </if>
      <if test="modelU3dId != null">
        model_u3d_id = #{modelU3dId,jdbcType=VARCHAR},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="view3dPicId != null">
        view3d_pic_id = #{view3dPicId,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        att4 = #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        att5 = #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        att6 = #{att6,jdbcType=VARCHAR},
      </if>
      <if test="publishModified != null">
        publish_modified = #{publishModified,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="styleId != null">
        style_id = #{styleId,jdbcType=INTEGER},
      </if>
      <if test="cadPicId != null">
        cad_pic_id = #{cadPicId,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ipadU3dModelId != null">
        ipad_u3d_model_id = #{ipadU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="iosU3dModelId != null">
        ios_u3d_model_id = #{iosU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="androidU3dModelId != null">
        android_u3d_model_id = #{androidU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="macbookpcU3dModelId != null">
        macBookPc_u3d_model_id = #{macbookpcU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="windowspcU3dModelId != null">
        windowsPc_u3d_model_id = #{windowspcU3dModelId,jdbcType=VARCHAR},
      </if>
      <if test="totalUsageAmount != null">
        total_usage_amount = #{totalUsageAmount,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="isStandardSpace != null">
        is_standard_space = #{isStandardSpace,jdbcType=INTEGER},
      </if>
      <if test="webU3dModeId != null">
        web_u3d_mode_id = #{webU3dModeId,jdbcType=VARCHAR},
      </if>
      <if test="cadAddress != null">
        cad_address = #{cadAddress,jdbcType=VARCHAR},
      </if>
      <if test="windowLocationValue != null">
        window_location_value = #{windowLocationValue,jdbcType=INTEGER},
      </if>
      <if test="viewPlanIds != null">
        view_plan_ids = #{viewPlanIds,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        sync_status = #{syncStatus,jdbcType=VARCHAR},
      </if>
      <if test="scene3dId != null">
        scene3d_id = #{scene3dId,jdbcType=INTEGER},
      </if>
      <if test="spaceShapePicId != null">
        space_shape_pic_id = #{spaceShapePicId,jdbcType=INTEGER},
      </if>
      <if test="openStatus != null">
        open_status = #{openStatus,jdbcType=INTEGER},
      </if>
      <if test="daylightU3dModelId != null">
        daylight_u3d_model_id = #{daylightU3dModelId,jdbcType=INTEGER},
      </if>
      <if test="dusklightU3dModelId != null">
        dusklight_u3d_model_id = #{dusklightU3dModelId,jdbcType=INTEGER},
      </if>
      <if test="nightlightU3dModelId != null">
        nightlight_u3d_model_id = #{nightlightU3dModelId,jdbcType=INTEGER},
      </if>
      <if test="spaceAnalyzeCode != null">
        space_analyze_code = #{spaceAnalyzeCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceU3dCode != null">
        space_u3d_code = #{spaceU3dCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceMainLength != null">
        space_main_length = #{spaceMainLength,jdbcType=VARCHAR},
      </if>
      <if test="spaceMainWidth != null">
        space_main_width = #{spaceMainWidth,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.SpaceCommon">
    update space_common
    set sys_code = #{sysCode,jdbcType=VARCHAR},
      space_code = #{spaceCode,jdbcType=VARCHAR},
      space_name = #{spaceName,jdbcType=VARCHAR},
      space_function_id = #{spaceFunctionId,jdbcType=INTEGER},
      main_length = #{mainLength,jdbcType=VARCHAR},
      main_width = #{mainWidth,jdbcType=VARCHAR},
      space_areas = #{spaceAreas,jdbcType=VARCHAR},
      space_shape = #{spaceShape,jdbcType=VARCHAR},
      door_location_type = #{doorLocationType,jdbcType=VARCHAR},
      door_location_id = #{doorLocationId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      model_id = #{modelId,jdbcType=INTEGER},
      space_desc = #{spaceDesc,jdbcType=VARCHAR},
      location_arrays = #{locationArrays,jdbcType=VARCHAR},
      is_include_way = #{isIncludeWay,jdbcType=INTEGER},
      way_location = #{wayLocation,jdbcType=VARCHAR},
      user_num = #{userNum,jdbcType=INTEGER},
      search_num = #{searchNum,jdbcType=INTEGER},
      space_num = #{spaceNum,jdbcType=INTEGER},
      space_percent = #{spacePercent,jdbcType=VARCHAR},
      datasource_id = #{datasourceId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      model_3d_id = #{model3dId,jdbcType=VARCHAR},
      model_u3d_id = #{modelU3dId,jdbcType=VARCHAR},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      view3d_pic_id = #{view3dPicId,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      publish_modified = #{publishModified,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      style_id = #{styleId,jdbcType=INTEGER},
      cad_pic_id = #{cadPicId,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      ipad_u3d_model_id = #{ipadU3dModelId,jdbcType=VARCHAR},
      ios_u3d_model_id = #{iosU3dModelId,jdbcType=VARCHAR},
      android_u3d_model_id = #{androidU3dModelId,jdbcType=VARCHAR},
      macBookPc_u3d_model_id = #{macbookpcU3dModelId,jdbcType=VARCHAR},
      windowsPc_u3d_model_id = #{windowspcU3dModelId,jdbcType=VARCHAR},
      total_usage_amount = #{totalUsageAmount,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      is_standard_space = #{isStandardSpace,jdbcType=INTEGER},
      web_u3d_mode_id = #{webU3dModeId,jdbcType=VARCHAR},
      cad_address = #{cadAddress,jdbcType=VARCHAR},
      window_location_value = #{windowLocationValue,jdbcType=INTEGER},
      view_plan_ids = #{viewPlanIds,jdbcType=VARCHAR},
      sync_status = #{syncStatus,jdbcType=VARCHAR},
      scene3d_id = #{scene3dId,jdbcType=INTEGER},
      space_shape_pic_id = #{spaceShapePicId,jdbcType=INTEGER},
      open_status = #{openStatus,jdbcType=INTEGER},
      daylight_u3d_model_id = #{daylightU3dModelId,jdbcType=INTEGER},
      dusklight_u3d_model_id = #{dusklightU3dModelId,jdbcType=INTEGER},
      nightlight_u3d_model_id = #{nightlightU3dModelId,jdbcType=INTEGER},
      space_analyze_code = #{spaceAnalyzeCode,jdbcType=VARCHAR},
      space_u3d_code = #{spaceU3dCode,jdbcType=VARCHAR},
      space_main_length = #{spaceMainLength,jdbcType=VARCHAR},
      space_main_width = #{spaceMainWidth,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>