<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.mybatisgen.dao.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.sandu.mybatisgen.dto.SysDictionary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="valuekey" jdbcType="VARCHAR" property="valuekey" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ordering" jdbcType="INTEGER" property="ordering" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="att3" jdbcType="VARCHAR" property="att3" />
    <result column="att4" jdbcType="VARCHAR" property="att4" />
    <result column="att5" jdbcType="VARCHAR" property="att5" />
    <result column="att6" jdbcType="VARCHAR" property="att6" />
    <result column="date_att1" jdbcType="TIMESTAMP" property="dateAtt1" />
    <result column="date_att2" jdbcType="TIMESTAMP" property="dateAtt2" />
    <result column="num_att1" jdbcType="INTEGER" property="numAtt1" />
    <result column="pic_id" jdbcType="INTEGER" property="picId" />
    <result column="num_att3" jdbcType="DECIMAL" property="numAtt3" />
    <result column="num_att4" jdbcType="DECIMAL" property="numAtt4" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="att1_info" jdbcType="VARCHAR" property="att1Info" />
    <result column="att2_info" jdbcType="VARCHAR" property="att2Info" />
    <result column="att3_info" jdbcType="VARCHAR" property="att3Info" />
    <result column="att4_info" jdbcType="VARCHAR" property="att4Info" />
    <result column="att5_info" jdbcType="VARCHAR" property="att5Info" />
    <result column="att6_info" jdbcType="VARCHAR" property="att6Info" />
    <result column="att7" jdbcType="VARCHAR" property="att7" />
    <result column="att7_info" jdbcType="VARCHAR" property="att7Info" />
    <result column="show_u3d_model" jdbcType="INTEGER" property="showU3dModel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_code, creator, gmt_create, modifier, gmt_modified, is_deleted, type, valuekey, 
    value, name, ordering, att1, att2, att3, att4, att5, att6, date_att1, date_att2, 
    num_att1, pic_id, num_att3, num_att4, remark, att1_info, att2_info, att3_info, att4_info, 
    att5_info, att6_info, att7, att7_info, show_u3d_model
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.mybatisgen.dto.SysDictionary">
    insert into sys_dictionary (id, sys_code, creator, 
      gmt_create, modifier, gmt_modified, 
      is_deleted, type, valuekey, 
      value, name, ordering, 
      att1, att2, att3, att4, 
      att5, att6, date_att1, 
      date_att2, num_att1, pic_id, 
      num_att3, num_att4, remark, 
      att1_info, att2_info, att3_info, 
      att4_info, att5_info, att6_info, 
      att7, att7_info, show_u3d_model
      )
    values (#{id,jdbcType=BIGINT}, #{sysCode,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{valuekey,jdbcType=VARCHAR}, 
      #{value,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ordering,jdbcType=INTEGER}, 
      #{att1,jdbcType=VARCHAR}, #{att2,jdbcType=VARCHAR}, #{att3,jdbcType=VARCHAR}, #{att4,jdbcType=VARCHAR}, 
      #{att5,jdbcType=VARCHAR}, #{att6,jdbcType=VARCHAR}, #{dateAtt1,jdbcType=TIMESTAMP}, 
      #{dateAtt2,jdbcType=TIMESTAMP}, #{numAtt1,jdbcType=INTEGER}, #{picId,jdbcType=INTEGER}, 
      #{numAtt3,jdbcType=DECIMAL}, #{numAtt4,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{att1Info,jdbcType=VARCHAR}, #{att2Info,jdbcType=VARCHAR}, #{att3Info,jdbcType=VARCHAR}, 
      #{att4Info,jdbcType=VARCHAR}, #{att5Info,jdbcType=VARCHAR}, #{att6Info,jdbcType=VARCHAR}, 
      #{att7,jdbcType=VARCHAR}, #{att7Info,jdbcType=VARCHAR}, #{showU3dModel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.mybatisgen.dto.SysDictionary">
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="valuekey != null">
        valuekey,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ordering != null">
        ordering,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="att3 != null">
        att3,
      </if>
      <if test="att4 != null">
        att4,
      </if>
      <if test="att5 != null">
        att5,
      </if>
      <if test="att6 != null">
        att6,
      </if>
      <if test="dateAtt1 != null">
        date_att1,
      </if>
      <if test="dateAtt2 != null">
        date_att2,
      </if>
      <if test="numAtt1 != null">
        num_att1,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="numAtt3 != null">
        num_att3,
      </if>
      <if test="numAtt4 != null">
        num_att4,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="att1Info != null">
        att1_info,
      </if>
      <if test="att2Info != null">
        att2_info,
      </if>
      <if test="att3Info != null">
        att3_info,
      </if>
      <if test="att4Info != null">
        att4_info,
      </if>
      <if test="att5Info != null">
        att5_info,
      </if>
      <if test="att6Info != null">
        att6_info,
      </if>
      <if test="att7 != null">
        att7,
      </if>
      <if test="att7Info != null">
        att7_info,
      </if>
      <if test="showU3dModel != null">
        show_u3d_model,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="valuekey != null">
        #{valuekey,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ordering != null">
        #{ordering,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null">
        #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="numAtt1 != null">
        #{numAtt1,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="att1Info != null">
        #{att1Info,jdbcType=VARCHAR},
      </if>
      <if test="att2Info != null">
        #{att2Info,jdbcType=VARCHAR},
      </if>
      <if test="att3Info != null">
        #{att3Info,jdbcType=VARCHAR},
      </if>
      <if test="att4Info != null">
        #{att4Info,jdbcType=VARCHAR},
      </if>
      <if test="att5Info != null">
        #{att5Info,jdbcType=VARCHAR},
      </if>
      <if test="att6Info != null">
        #{att6Info,jdbcType=VARCHAR},
      </if>
      <if test="att7 != null">
        #{att7,jdbcType=VARCHAR},
      </if>
      <if test="att7Info != null">
        #{att7Info,jdbcType=VARCHAR},
      </if>
      <if test="showU3dModel != null">
        #{showU3dModel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.mybatisgen.dto.SysDictionary">
    update sys_dictionary
    <set>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="valuekey != null">
        valuekey = #{valuekey,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ordering != null">
        ordering = #{ordering,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null">
        att3 = #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        att4 = #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        att5 = #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        att6 = #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="numAtt1 != null">
        num_att1 = #{numAtt1,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="att1Info != null">
        att1_info = #{att1Info,jdbcType=VARCHAR},
      </if>
      <if test="att2Info != null">
        att2_info = #{att2Info,jdbcType=VARCHAR},
      </if>
      <if test="att3Info != null">
        att3_info = #{att3Info,jdbcType=VARCHAR},
      </if>
      <if test="att4Info != null">
        att4_info = #{att4Info,jdbcType=VARCHAR},
      </if>
      <if test="att5Info != null">
        att5_info = #{att5Info,jdbcType=VARCHAR},
      </if>
      <if test="att6Info != null">
        att6_info = #{att6Info,jdbcType=VARCHAR},
      </if>
      <if test="att7 != null">
        att7 = #{att7,jdbcType=VARCHAR},
      </if>
      <if test="att7Info != null">
        att7_info = #{att7Info,jdbcType=VARCHAR},
      </if>
      <if test="showU3dModel != null">
        show_u3d_model = #{showU3dModel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.mybatisgen.dto.SysDictionary">
    update sys_dictionary
    set sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      valuekey = #{valuekey,jdbcType=VARCHAR},
      value = #{value,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      ordering = #{ordering,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      att3 = #{att3,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      num_att1 = #{numAtt1,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      att1_info = #{att1Info,jdbcType=VARCHAR},
      att2_info = #{att2Info,jdbcType=VARCHAR},
      att3_info = #{att3Info,jdbcType=VARCHAR},
      att4_info = #{att4Info,jdbcType=VARCHAR},
      att5_info = #{att5Info,jdbcType=VARCHAR},
      att6_info = #{att6Info,jdbcType=VARCHAR},
      att7 = #{att7,jdbcType=VARCHAR},
      att7_info = #{att7Info,jdbcType=VARCHAR},
      show_u3d_model = #{showU3dModel,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>